<div class="content">
    <div class="empty-card"
    *ngIf="emptyTimeline">
        <h3>This users timeline is empty for your selection.</h3>
        <p>Please change your timeline settings or select a different word in the wordcloud.</p>
    </div>
    <tweet-card
    class="tweet-card"
    *ngFor="let tweet of timelineShowed"
    [tweetId]="tweet['valid_id_str']"
    [retweetCount]="tweet['retweet_count']"
    [disabled]="tweet['disabled']"
    (rendered)="setTweetRendered( tweet)"
    [ngClass]="{'rendered': tweet['rendered']}"></tweet-card>
</div>