@import "../../../../styles.scss";
.content {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(36,41,51,0.1), 0 2px 2px 0 rgba(15,19,26,0.1), 0 2px 4px 0 rgba(15,19,26,0.1);
    display: grid;
    overflow: visible;
    grid-template-columns: 1fr 24px 24px;
    grid-column-gap: 12px;
    grid-template-rows: 24px auto;
    grid-template-areas:
        "headline wordcloud_settings info_button"
        "cloud cloud cloud";

    h2 {
        grid-area: headline;
        color: $color-header;
        font-size: 13.5px;
        font-weight: 600;
        align-self: center;
        margin-left: 5px;
    }

    .wordcloud-settings {
        grid-area: wordcloud_settings;
    }

    info-button {
        grid-area: info_button;
    }

    .wordcloud-canvas {
        cursor: default;
        grid-area: cloud;
        width: 328px;
        height: 250px;
        &.hovered {
            cursor: pointer;
        }
    }
}