$color-purple-dark: #7F25E6;
$color-purple-light: #8D29FF;

$color-header: #3D424D;
$color-paragraph: #737680;
$color-gray-font-blackish: #000A12;
$color-gray-font-dark: #242933;
$color-gray-bg: #F2F3F5;
$color-black-bg: #242933;
$color-gray-bg-light: #F5F6F7;
$color-gray-border: #C0C4CC;
$color-gray-icons: #B8C1CB;
$color-gray-placeholder: #8E9299;

