.loading-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    grid-template-areas:
        "loading_animation";
    align-content: center;
    justify-content: center;

    &.loaded {
        display: none;
    }

    .loading-animation {
        grid-area: "loading_animation";
        position: relative;
        height: 200px;
        width: 200px;
    }
}