<button 
(click)="openMenu()"
type="button" 
class="button purple-button login-button"
[ngClass]="{'black': color === black, 'white': color === white, 'purple': color === purple, 'open': menuOpen}">Closed Beta Login</button>
<div class="login-menu" [ngClass]="{'open': menuOpen}">
    <div class="form">
        <div class="login-form"
        *ngIf="!registerOpen">
            <input type="text"
            #emailAdress
            (keydown.enter)="login(emailAdress.value, password.value)"
            placeholder="Your E-Mail">
            <input type="password"
            #password
            (keydown.enter)="login(emailAdress.value, password.value)"
            placeholder="Password">
            <button class="button purple-button login"
            (click)="login(emailAdress.value, password.value)">
                Login
            </button>
            <p class="error"
            *ngIf="error">
                {{error}}
            </p>
        </div>
        <div class="register-form"
        *ngIf="registerOpen">
            <input type="text"
            #emailAdress
            (keydown.enter)="register(username.value, emailAdress.value)"
            placeholder="Your E-Mail">
            <input type="text"
            #username
            (keydown.enter)="register(username.value, emailAdress.value)"
            placeholder="Username">
            <p class="term-hint">By creating an account, you accept our <a href="./privacy">Terms</a>.</p>
            <button class="button purple-button register"
            (click)="register(username.value, emailAdress.value)">Register</button>
            <p class="error"
            *ngIf="error">
                {{error}}
            </p>
        </div>
    </div>
    <div class="register">
        <p *ngIf="!registerOpen">Or create an Account if you received an invitation by us.</p>
        <p *ngIf="registerOpen">You can also Login, if you already have an account.</p>
        <button *ngIf="!registerOpen" class="button light-button register" (click)="toggleRegister()">Register</button>
        <button *ngIf="registerOpen" class="button light-button login" (click)="toggleRegister()">Login</button>
    </div>
    <div class="links">
        <p>You received no Invitation?</p>
        <a href="mailto:contact@tracemap.info">
            <button class="button light-button contact">Contact Us</button>
        </a>
    </div>
    <div class="policy">
        <a href="/privacy">Terms & Privacy Policy</a>
    </div>
</div>