@import "../../styles.scss";
.login-button {
    position: fixed;
    z-index: 3;
    top: 30px;
    right: 108px;
    background-color: #fff;
    color: $color-purple-dark;
    border: 2px solid $color-purple-dark;
    transition: border 0.3s linear;
    width: 250px;
    height: 48px;
    &.black {
        border-color: #000;
        color: #000;
    }
    &.open {
        border: 2px solid #fff;
        transition: none;
    }
}
.login-menu-button {
    width: auto;
    padding: 0px 20px;
}

.login-menu {
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 30px;
    right: 108px;
    width: 100px;
    height: 48px;
    background-color: #fff;
    border: 2px solid $color-purple-dark;
    border-radius: 5px;
    transition: none;
    &.open {
        top: 28px;
        right: 106px;
        width: 254px;
        height: auto;
        transition: height 0.2s linear;
        padding-top: 42px;
    }
    display: grid;
    padding: 0px 12px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 40px;
    grid-row-gap: 40px;
    grid-template-areas:
        "logout"
        "policy";

    .button {
        grid-area: logout;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 18px;
        line-height: 30px;
        width: 70px;
        height: 32px;
        &.register {
            width: 90px;
        }
        &.contact {
            width: 110px;
        }
        &.forgot {
            width: 150px;
        }
    }

    .policy {
        grid-area: policy;
        align-self: end;
        justify-self: right;
        display: inline;
        font-size: 12px;
        margin-bottom: 8px; 
        a {
            font-size: 14px;
            color: $color-paragraph;
            &:hover {
                color: $color-header;
            }
        }
    }
}