<button 
(click)="openMenu()"
type="button" 
class="button purple-button login-menu-button"
[ngClass]="{'black': color === black, 'white': color === white, 'purple': color === purple, 'open': menuOpen}">Closed Beta Login</button>
<div class="login-menu" [ngClass]="{'open': menuOpen}">
    <div class="form">
        <div class="login-form"
        *ngIf="!registerOpen">
            <div class="login"
            *ngIf="!forgotOpen">
                <input type="text"
                #emailAdress
                placeholder="enter your e-mail">
                <input type="password"
                #password
                (keydown.enter)="login(emailAdress.value, password.value)"
                placeholder="enter your password">
                <button class="button purple-button login"
                *ngIf="!forgotOpen"
                (click)="login(emailAdress.value, password.value)">
                    Login
                </button>
                <p class="forgot-toggle"
                (click)="toggleForgot()">
                    Forgot your password?
                </p>
            </div>
            <div class="forgot"
            *ngIf="forgotOpen">
                <input type="text"
                #emailAdress
                (keydown.enter)="sendResetMail(emailAdress.value)"
                placeholder="enter your e-mail">
                <p class="hint forgot-hint">
                    We will send you an email with further instructions on how to reset your password.
                </p>
                <button class="button purple-button forgot"
                (click)="sendResetMail(emailAdress.value)">
                    Reset Password
                </button>
                <p class="forgot-toggle"
                (click)="toggleForgot()">
                    Back to login
                </p>
            </div>
            <p class="error"
            *ngIf="error">
                {{error}}
            </p>
        </div>
        <div class="register-form"
        *ngIf="registerOpen">
            <input type="text"
            #emailAdress
            (keydown.enter)="register(username.value, emailAdress.value)"
            placeholder="enter your e-mail">
            <input type="text"
            #username
            (keydown.enter)="register(username.value, emailAdress.value)"
            placeholder="enter a username">
            <p class="hint">By creating an account, you accept our <a href="./privacy">Terms</a>.</p>
            <button class="button purple-button register"
            (click)="register(username.value, emailAdress.value)">Register</button>
            <p class="error"
            *ngIf="error">
                {{error}}
            </p>
        </div>
    </div>
    <div class="register">
        <p *ngIf="!registerOpen">Or create an Account if you received an invitation by us.</p>
        <p *ngIf="registerOpen">You can also Login, if you already have an account.</p>
        <button *ngIf="!registerOpen" class="button light-button register" (click)="toggleRegister()">Register</button>
        <button *ngIf="registerOpen" class="button light-button login" (click)="toggleRegister()">Login</button>
    </div>
    <div class="links">
        <p>You received no Invitation?</p>
        <a href="mailto:contact@tracemap.info">
            <button class="button light-button contact">Contact Us</button>
        </a>
    </div>
    <div class="policy">
        <a href="/privacy">Terms & Privacy Policy</a>
    </div>
</div>