<!-- <app-login class="app-login" [color]="color"></app-login> -->
<div 
class="menu-button" 
(click)="openMenu()"
[ngClass]="color">
    <img *ngIf="color == 'white'"
    src="../../assets/images/menu-purple.svg">
    <img *ngIf="color != 'white'"
    src="../../assets/images/menu-white.svg">
</div>
<div class="overlay" (click)="closeMenu()" [ngClass]="{'open': open}">
</div>
<div class="menu" [ngClass]="{'open': open}">
    <div class="close-button" (click)="closeMenu()">
        <img srcset="
        ../../assets/images/close_128.png 4x,
        ../../assets/images/close_64.png 2x,
        ../../assets/images/close_32.png 1x
        "
        src="../../assets/images/close_32.png">
    </div>
    <div class="links">
        <a
        *ngFor="let item of navItems"
        routerLink={{item.path}}
        routerLinkActive="active">
            {{item.label}}
        </a>
    </div>
    <div class="social-links-light">
        <a href="https://twitter.com/trace_map" target="_blank">
            <img srcset="
            ../../assets/images/twitter_128.png 4x,
            ../../assets/images/twitter_64.png 2x,
            ../../assets/images/twitter_32.png 1x
            "
            src="../../assets/images/twitter_64.png">
        </a>
        <a href="https://www.linkedin.com/company/trace-map" target="_blank">
            <img srcset="
            ../../assets/images/linkedin_128.png 4x,
            ../../assets/images/linkedin_64.png 2x,
            ../../assets/images/linkedin_32.png 1x
            "
            src="../../assets/images/linkedin_64.png">
        </a>
        <a href="https://github.com/tracemap/" target="_blank">
            <img srcset="
            ../../assets/images/github_128.png 4x,
            ../../assets/images/github_64.png 2x,
            ../../assets/images/github_32.png 1x
            "
            src="../../assets/images/github_64.png">
        </a>
    </div>
    <div class="sublinks">
        <a href="/legal">Legal</a>
        |
        <a href="/privacy">Terms & Privacy Policy</a>
    </div>
</div>
