.searchbar {
    display: grid;
    width: 100%;
    grid-template-columns: auto 50px;
    grid-template-rows: 45px;
    grid-template-areas: 
        "input button";
    border-bottom: 2px solid #666;
    &.mini {
        grid-template-rows: 30px;
        grid-template-columns: auto 40px;
        border-bottom: 1px solid #666;
    }
}

input[type=text] {
  grid-area: input;
  width: 100%;
  margin-right: 10px;
  font-weight: 600;
  font-size: 2em;
  outline: none;
  border: none;
  background-color: rgba(255,255,255,0);
  padding-left: 5px;
  padding-right: 5px;
  &::placeholder {
    color: #666;
    opacity: 1;
  }
  &.mini {
      font-size: 1.1em;
      padding-top: 4px;
      font-weight: bold;
  }
}

button {
  grid-area: button;
  background: url("/assets/images/loupe.svg") no-repeat center transparent;
  background-size: contain;
  border: 3px solid transparent;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
button::-moz-focus-inner {
  border: 0;
}
