@import "../../styles.scss";
.user-menu-button {
    position: fixed;
    z-index: 3;
    top: 30px;
    right: 108px;
    border: 2px solid $color-purple-dark;
    border-radius: 50%;
    background-color: #fff;
    width: 48px;
    height: 48px;

    img {
        width: 32px;
        height: 32px;
        margin-top: 5px;
        margin-left: 6px;
    }
    &.purple {
        background-color: $color-purple-dark;
    }
    &.black {
        background-color: #242933;
        border: 2px solid #242933;
        top: 12px;
    }
}
.overlay {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 0px;
    top: 0px;
    left: 0px;
    background-color: $color-gray-bg-light;
    opacity: 0;
    &.open {
        width: 100vw;
    }
}
.tooltip {
    bottom: auto;
    top: 20px;
    right: 180px;
    &.open {
        width: 250px;
        height: auto;
    }
    &.black {
        top: 2px;
    }

    .shadow {
        right: 160px;
        top: 35px;
        &.black {
            top: 16px;
        }
    }
    .arrow {
        right: 162px;
        top: 36px;
        border-left: 18px solid $color-black-bg;
        &.black {
            top: 17px;
        }
    }


    .body {
        padding: 20px;
        height: auto;
        .logout {
            width: 70px;
            height: 32px;
            margin-bottom: 20px;
        }
        .password-change-button {
            width: 165px;
            height: 32px;
            line-height: 30px;
            margin-bottom: 20px;
        }
        .delete-button {
            width: 150px;
            height: 32px;
            line-height: 30px;
        }
        .error {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 500;
            color: red;
        }
        .form {
            input {
                width: 226px;
                height: 30px;
                border: none;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 400;
                &::placeholder {
                    color: #A8ABB3;
                    opacity: 1;
                }
            }
            .hint {
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 5px;
            }
        }
    }
}