@import "../../styles.scss";
.user-menu-button {
    position: fixed;
    z-index: 3;
    top: 30px;
    right: 108px;
    border: 2px solid $color-purple-dark;
    border-radius: 50%;
    background-color: #fff;
    width: 48px;
    height: 48px;

    img {
        width: 32px;
        height: 32px;
        margin-top: 5px;
        margin-left: 6px;
    }
    &.purple {
        background-color: $color-purple-dark;
    }
    &.black {
        background-color: #242933;
        border: 2px solid #242933;
        top: 12px;
    }
}
.overlay {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 0px;
    top: 0px;
    left: 0px;
    background-color: $color-gray-bg-light;
    opacity: 0;
    &.open {
        width: 100vw;
    }
}
.tooltip {
    bottom: auto;
    top: 20px;
    right: 180px;
    &.open {
        width: auto;
        height: auto;
    }
    &.black {
        top: 2px;
    }

    .shadow {
        right: 160px;
        top: 35px;
        &.black {
            top: 16px;
        }
    }
    .arrow {
        right: 162px;
        top: 36px;
        border-left: 18px solid $color-black-bg;
        &.black {
            top: 17px;
        }
    }

    .head {
        h2 {
            overflow: hidden;
            padding-right: 10px;
            white-space: nowrap;
        }
    }

    .body {
        padding: 20px;
        height: auto;
        text-align: center;
        border-radius: 0px 0px 6px 6px;
        .logout {
            display: inline-block;
            width: 70px;
            height: 32px;
        }
    }
}
@media only screen and (max-width: 930px) {
    .app-login {
        display: none;
    }
    .user-menu-button {
        top: 16px;
        right: 64px;
        width: 36px;
        height: 36px;

        img {
            width: 24px;
            height: 24px;
            margin-top: 3px;
            margin-left: 4px;
        }
    }
    .tooltip {
        top: 10px;
        right: 130px;
        .shadow {
            right: 110px;
            top: 16px;
            &.black {
                top: 16px;
            }
        }
        .arrow {
            right: 112px;
            top: 17px;
            border-left: 18px solid $color-black-bg;
            &.black {
                top: 17px;
            }
        }
    }
}