<canvas class="d3-graph" (window:resize)="resizeCanvas()" [ngClass]="{'empty': empty}"></canvas>
<user 
class="user"
[ngClass]="{'rendered':userPreviewRendered}" 
[userId]="hoveredNode.id_str" 
(rendered)="setUserPreviewRendered($event)"
*ngIf="hoveredNode"
[style.top]="((hoveredNode.cy / dpr) - (hoveredNode.r / dpr) - 40) + 'px'"
[style.left]="((hoveredNode.cx / dpr) + 380) + 'px'"></user>
<div class="empty-container" *ngIf="empty">
    <h3>There are no users in our database for this tweet.</h3>
    <p>If the tweet you input has retweeters whose profiles are public,<br>
    please wait until the missing users are crawled.</p>
</div>
