@import "../../../styles.scss";

.searchbar {
    position: relative;
    z-index: 3;
    width: 360px;
    height: 100%;
    background-color: $color-gray-font-dark;
    align-items: center;
    display: grid;
    grid-template-columns: 20px 1fr 20px 30px;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". input button .";

    .searchfield {
        grid-area: input;
        height: 28px;
        margin-right: 20px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        color: #fff;
        line-height: 18px;
        &::placeholder {
            color: $color-gray-placeholder;
            opacity: 1;
        }
    }

    .search-button {
        grid-area: button;
        margin-top: 1px;
        height: 20px;
        &:hover {
            cursor: pointer;
        }
        img {
            width: 20px;
        }
    }
}
