.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr 72px;
    grid-template-areas:
        "searchbar"
        "accordeons"
        "share";

    .searchbar {
        grid-area: searchbar;
        background-color: #ddd;
    }

    .accordeons {
        grid-area: accordeons;
        background-color: #bbb;
    }

    .share {
        grid-area: share;
        background-color: #999;
    }
}
