.tm-info {
    height: 100%;
    width: 100%;
    background-color: #f7f7fb;
    box-shadow: inset -1px 0px 4px rgba(0,0,0,0.25);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 230px auto;
    grid-template-areas: 
        "tm_details"
        "influent_users";

    .tm-details {
        grid-area: tm_details;

        display: grid;
        padding: 10px;
        width: 100%;
        height: 220px;
        grid-template-columns: auto auto;
        grid-template-rows: 50px 50px 70px 50px;
        grid-template-areas:
            "node_count retweet_count"
            "link_count avg_degree"
            "avg_age avg_age"
            "first_retweet latest_retweet";
        align-items: center;

        .node-count {
            grid-area: node_count;
        }

        .retweet-count {
            grid-area: retweet_count;
        }

        .link-count {
            grid-area: link_count;
        }

        .avg-degree {
            grid-area: avg_degree;
        }

        .first-retweet {
            grid-area: first_retweet;
        }

        .latest-retweet {
            grid-area: latest_retweet;
        }

        .avg-age {
            grid-area: avg_age;
        }
    }
    .influent-users {
        grid-area: influent_users;
        h2 {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }

        li {
            list-style-type: none;
            list-style: none;
        }
    }

    .influent-user {
        height: 50px;
        display: grid;
        padding: 10px;
        width: 100%;
        height: auto;
        grid-template-columns: auto 100px;
        grid-template-rows: auto;
        grid-template-areas:
            "user_names info_block";

        .user-names {
            grid-area: "user_names";

            &:hover {
                cursor: pointer;
            }
            &.active {
                color: #1da1f2;
            }
        }
        .info-block {
            grid-area: "info_block";
            justify-self: center;
        }
    }
}
