<!-- <div class="tm-info">
<p>Users:<span>{{tmDetails.userCount}}</span></p>
<p>Connected Users:<span>{{tmDetails.conUserCount}}</span></p>
<p>Connections:<span>{{tmDetails.connections}}</span></p>
<p>ø Account Age<span>{{tmDetails.averageAge}}</span></p>
<p>ø Degree<span>{{tmDetails.averageDegree}}</span></p>
<h3>Most influential Users</h3>
<table>
    <tr *ngFor="let user of tmDetails.topUsers">
        <td><span>{{user.name}}</span><span>{{user.nick}}</span></td>
        <td>{{user.connections}}</td>
    </tr>
</table>
</div> -->