//used here
.grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 270px minmax(400px,auto) 270px;
    grid-template-rows: 50px auto 30px;
    grid-template-areas:
        "header header header"
        "sidepanel graph graph"
        "footer footer footer";
}

header {
    grid-area: header;
    background-color: #ddd;
}

footer {
    grid-area: footer;
    background-color: #ddd;
}

d3-component {
    position: relative;
    grid-area: graph;
}

sidepanel, tm-info {
    grid-area: userinfo;
}

tweet {
    position: absolute;
    right: 0;
    top: 45px;
    width: 270px;
}