.searchbar {
    display: grid;
    grid-template-columns: 600px 50px;
    grid-template-rows: 45px;
    margin-left: 50px;
    grid-template-areas: 
        "input button";
    justify-content: center;
    width: 660px;
    margin: auto;
    border-bottom: 2px solid #666;
}

input[type=text] {
  grid-area: input;
  width: 590px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 2em;
  outline: none;
  border: none;
  background-color: rgba(255,255,255,0);

  &::placeholder {
    color: #000;
    opacity: 1;
  }

}

button {
  grid-area: button;
  background: url("./../assets/images/loupe.svg") no-repeat center #fff;
  background-size: contain;
  border: 3px solid transparent;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
button::-moz-focus-inner {
  border: 0;
}
