input[type=text] {
  grid-area: input;
  width: 70vw;
  max-width: 600px;
  min-width: 300px;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0px 10px; 
  margin: 0px 10px 0px 20px;
}
button {
  grid-area: button;
  background: url("./../assets/images/loupe.svg") no-repeat center #fff;
  background-size: contain;
  border: 3px solid transparent;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
button::-moz-focus-inner {
  border: 0;
}
