.searchbar {
    display: grid;
    grid-template-columns: 600px 50px;
    grid-template-rows: 50px;
    margin-left: 50px;
    grid-template-areas: 
        "input button";
    justify-content: center;
}

input[type=text] {
  grid-area: input;
  width: 590px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 1.5em;
}
button {
  grid-area: button;
  background: url("./../assets/images/loupe.svg") no-repeat center #fff;
  background-size: contain;
  border: 3px solid transparent;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
button::-moz-focus-inner {
  border: 0;
}
