<div class="share-component">
    <h2>Share TraceMap</h2>
    <div class="twitter-link">
        <a target="_blank"
           href="https://twitter.com/share?url={{tracemapUrl}}&via=trace_map&hashtags=TraceMap&text=Take%20a%20look%20at%20this%20TraceMap!">
            <img alt="share on twitter"
                 src="./../assets/images/twitter_logo_200.png"
                 srcset="./../assets/images/twitter_logo_200.png 1x,
                        ./../assets/images/twitter_logo_400.png 2x">
        </a>
    </div>
    <div class="facebook-link">
        <a target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u={{tracemapUrl}}&amp;src=sdkpreparse">
            <img alt="share on facebook"
                 src="./../assets/images/facebook_logo_200.png"
                 srcset="./../assets/images/facebook_logo_200.png 1x,
                        ./../assets/images/facebook_logo_400.png 2x">
        </a>
    </div>
    <div class="mail-link">
        <a href="mailto:?subject=Take%20a%20look%20at%20this%20TraceMap&body={{tracemapUrl}}">
            <img alt="share by mail"
                 src="./../assets/images/mail_logo_200.png"
                 srcset="./../assets/images/mail_logo_200.png 1x,
                        ./../assets/images/mail_logo_400.png 2x">
        </a>
    </div>
    <div class="telegram-link">
        <a target="_blank"
           href="https://t.me/share/url?url={{tracemapUrl}}">
            <img alt="share on telegram"
                 src="./../assets/images/telegram_icon_50.png"
                 srcset="./../assets/images/telegram_icon_50.png 1x,
                        ./../assets/images/telegram_icon_100.png 2x">
        </a>
    </div>
</div>