.share-component {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 30px 40px;
    grid-template-areas:
        "head head head head"
        "twitter facebook mail telegram";

    h2 {
        text-align: center;
        grid-area: head;
        font-size: 20px;
    }

    .twitter-link {
        grid-area: twitter;
        cursor: pointer;
    }

    .facebook-link {
        grid-area: facebook;
        cursor: pointer;
    }

    .mail-link {
        grid-area: mail;
    }

    .telegram-link {
        grid-area: telegram;
    }

    img {
        margin-left: 7.5px;
        margin-right: 7.5px;
        width: 35px;
        height: 35px;
    }
}