
<div class="user-info" *ngIf="userInfo">
    <a  class="twitter-link" href="https://twitter.com/{{userInfo.screen_name}}" target="_blank">
        <p class="overlay-text">Go To Twitter</p>
        <div class="user-details">
            <div class="user-image">
                <img src="{{userImage}}">
            </div>
            <div class="statuses-count info-block">
                <h3>Tweets</h3>
                <p>{{counts.statuses_count}}</p>
            </div>
            <div class="followers-count info-block">
                <h3>Followers</h3>
                <p>{{counts.followers_count}}</p>
            </div>
            <div class="following-count info-block">
                <h3>Following</h3>
                <p>{{counts.friends_count}}</p>
            </div>
            <div class="user-names">
                <p>{{userInfo.name}}</p>
                <p>@{{userInfo.screen_name}}</p>
            </div>
            <p class="description">{{userInfo.description}}</p>
        </div>
    </a>
    <!-- <div class="account-details">
        <h2>Account Info</h2>
        <p class="age">
            <span>Age:</span>
            {{accountAge}}
        </p>
        <p class="location">
            <span>Location:</span>
            {{userInfo.location}}
        </p>
    </div> -->
    <timeline></timeline>
</div>
