<div class="controls">
    <div class="sort">
        <h3>sort by:</h3>
        <select (change)="changeSelection($event.target.value)">
            <option value="time">Time</option>
            <option value="retweets" selected>Retweets</option>
        </select>
    </div>
    <div class="include">
        <h3>include:</h3>
        <label><input (click)="changeSelection($event.target.checked) "type="checkbox" name="replies" value="replies">replies</label>
    </div>
</div>
<div class="timeline" (scroll)="onScroll($event)">
    <div  class="timeline-container" *ngFor="let tweet of timeline" >
        <tweet [tweetId]="tweet"></tweet>
        <button type="button" (click)="changeTracemap(tweet)">Generate Tracemap</button>
    </div>
</div>