.grid {
    display: grid;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    grid-template-columns: 356px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "side_panel main_panel";

    .side-panel {
        grid-area: side_panel;
    }
    .main-panel {
        grid-area: main_panel;
    }
}
