<div class="content">
    <h2>{{data.headline}}</h2>
    <info-button 
    [arrowPos]="'left'"
    [text]="data.info_text"></info-button>
    <div class="enlarge-button">
        <img srcset="
        ../../../assets/images/arrows-up-down-white_64.png 4x,
        ../../../assets/images/arrows-up-down-white_32.png 2x,
        ../../../assets/images/arrows-up-down-white_16.png 1x
        "
        src="../../../assets/images/arrows-up-down-white_16.png">
    </div>
    <svg class="svg"></svg>
</div>
