<div class="content">
    <div class="metrics-container">
        <h2>Tracemap Metrics</h2>
        <div 
        class="loading"
        *ngIf="!tracemapMetricsRendered">
            <p>Loading data...</p>
            <mat-spinner
            class="spinner"
            [diameter]="18"
            [color]="primary"
            [strokeWidth]="3">
            </mat-spinner>
        </div>
        <div 
        class="metrics"
        *ngIf="tracemapMetricsRendered">
            <div class="metric">
                <p class="value">{{tracemapMetrics.avg_links.toFixed(1)}}</p>
                <p class="text">Ø Links per User</p>
                <p class="info-button">
                    <img
                    srcset="
                    ../../../assets/images/info-white_128.png 4x,
                    ../../../assets/images/info-white_64.png 2x,
                    ../../../assets/images/info-white_32.png 1x
                    "
                    src="../../../assets/images/info-white_32.png">
                </p>
            </div>
            <div class="metric">
                <p class="value">{{tracemapMetrics.user_number}}</p>
                <p class="text">Users in the Tracemap</p>
                <p class="info-button">
                    <img
                    srcset="
                    ../../../assets/images/info-white_128.png 4x,
                    ../../../assets/images/info-white_64.png 2x,
                    ../../../assets/images/info-white_32.png 1x
                    "
                    src="../../../assets/images/info-white_32.png">
                </p>
            </div>
            <div class="metric">
                <p class="value">{{tracemapMetrics.propagation_delay | timeLabel: 60}}</p>
                <p class="text">Propagation Delay</p>
                <p class="info-button">
                    <img
                    srcset="
                    ../../../assets/images/info-white_128.png 4x,
                    ../../../assets/images/info-white_64.png 2x,
                    ../../../assets/images/info-white_32.png 1x
                    "
                    src="../../../assets/images/info-white_32.png">
                </p>
            </div>
        </div>
    </div>
    <div class="metrics-container">
        <h2>User Metrics</h2>
        <div 
        class="loading"
        *ngIf="!userMetricsRendered">
            <p>Loading data...</p>
            <mat-spinner
            class="spinner"
            [diameter]="18"
            [color]="primary"
            [strokeWidth]="3">
            </mat-spinner>
        </div>
        <div 
        class="metrics"
        *ngIf="userMetricsRendered">
            <div class="metric">
                <p class="value">{{userMetrics.avg_followers}}</p>
                <p class="text">Ø Followers per User</p>
                <p class="info-button">
                    <img
                    srcset="
                    ../../../assets/images/info-white_128.png 4x,
                    ../../../assets/images/info-white_64.png 2x,
                    ../../../assets/images/info-white_32.png 1x
                    "
                    src="../../../assets/images/info-white_32.png">
                </p>
            </div>
            <div class="metric">
                <p class="value">{{userMetrics.avg_followees}}</p>
                <p class="text">Ø Friends per User</p>
                <p class="info-button">
                    <img
                    srcset="
                    ../../../assets/images/info-white_128.png 4x,
                    ../../../assets/images/info-white_64.png 2x,
                    ../../../assets/images/info-white_32.png 1x
                    "
                    src="../../../assets/images/info-white_32.png">
                </p>
            </div>
            <div class="metric">
                <p class="value">{{userMetrics.avg_tweets}}</p>
                <p class="text">Ø Tweets authored per User</p>
                <p class="info-button">
                    <img
                    srcset="
                    ../../../assets/images/info-white_128.png 4x,
                    ../../../assets/images/info-white_64.png 2x,
                    ../../../assets/images/info-white_32.png 1x
                    "
                    src="../../../assets/images/info-white_32.png">
                </p>
            </div>
            <div class="metric">
                <p class="value">{{userMetrics.avg_age | toYear:1}}</p>
                <p class="text">Ø Account Age in Years</p>
                <p class="info-button">
                    <img
                    srcset="
                    ../../../assets/images/info-white_128.png 4x,
                    ../../../assets/images/info-white_64.png 2x,
                    ../../../assets/images/info-white_32.png 1x
                    "
                    src="../../../assets/images/info-white_32.png">
                </p>
            </div>
        </div>
    </div>
</div>
