<div class="content">
    <div class="metrics-container">
        <h2>Tracemap Metrics</h2>
        <div 
        class="loading"
        *ngIf="!tracemapMetricsRendered">
            <p>Loading data...</p>
            <mat-spinner
            class="spinner"
            [diameter]="18"
            [color]="primary"
            [strokeWidth]="3">
            </mat-spinner>
        </div>
        <div 
        class="metrics"
        *ngIf="tracemapMetricsRendered">
            <div class="metric">
                <p class="value">{{tracemapMetrics.avg_links.toFixed(1)}}</p>
                <p class="text">Ø Links per User</p>
                <info-button
                [arrowPos]="'left'"
                [text]="'The average number of links per user represents the density of the network.'"></info-button>
            </div>
            <div class="metric">
                <p class="value">{{tracemapMetrics.user_number}}</p>
                <p class="text">Users in the Tracemap</p>

            </div>
            <div class="metric">
                <p class="value">{{tracemapMetrics.propagation_delay | timeLabel: 60}}</p>
                <p class="text">Propagation Delay</p>
                <info-button
                [arrowPos]="'left'"
                [text]="'This is the amount of time it took for this tweet to reach 50% of the current number of retweets.'"></info-button>
            </div>
        </div>
    </div>
    <div class="metrics-container">
        <h2>User Metrics</h2>
        <div 
        class="loading"
        *ngIf="!userMetricsRendered">
            <p>Loading data...</p>
            <mat-spinner
            class="spinner"
            [diameter]="18"
            [color]="primary"
            [strokeWidth]="3">
            </mat-spinner>
        </div>
        <div 
        class="metrics"
        *ngIf="userMetricsRendered">
            <div class="metric">
                <p class="value">{{userMetrics.avg_followers}}</p>
                <p class="text">Ø Followers per User</p>
            </div>
            <div class="metric">
                <p class="value">{{userMetrics.avg_followees}}</p>
                <p class="text">Ø Friends per User</p>
            </div>
            <div class="metric">
                <p class="value">{{userMetrics.avg_tweets}}</p>
                <p class="text">Ø Tweets authored per User</p>
                <info-button
                [arrowPos]="'left'"
                [text]="'If the number of tweets authored by an account is very high compared to their age, it could be an indicator for bots.'"></info-button>
            </div>
            <div class="metric">
                <p class="value">{{userMetrics.avg_age | toYear:1}}</p>
                <p class="text">Ø Account Age in Years</p>
                <info-button
                [arrowPos]="'left'"
                [text]="'Accounts sharing misinformation are younger on average.'"></info-button>
            </div>
        </div>
    </div>
</div>
