.content {
    width: 100%;
    margin: 26px 20px;

    svg {
        width: 309px;
        height: 200px;
        background-color: #fff;
        border: 1px solid #000
    }
}

.text {
    fill: #742329;
}
