<div class="grid">
    
    <header></header>
    <div class="sidepanel">
        <router-outlet></router-outlet>
    </div>
    <d3-component *ngIf="!errorMsg" #d3Component
        (nodeClicked)="openUserInfo($event)"
        (svgClicked)="closeUserInfo()">
    </d3-component>
    <p class="error" *ngIf="errorMsg">
        <span *ngFor="let line of errorMsg">{{line}}</span>
        <img src="/assets/images/sad_cloud800.png" alt="">
    </p>
    <tweet *ngIf="!errorMsg" [tweetId]="tracemapId"></tweet>
    <share *ngIf="!errorMsg"></share>
    <help *ngIf="!errorMsg"></help>
</div>
