.share-component {
    display: grid;
    grid-template-columns: 35px 35px 35px 35px;
    grid-template-rows: 25px 35px;
    grid-template-areas:
        "head head head head"
        "twitter facebook mail telegram";

    h2 {
        text-align: center;
        grid-area: head;
        font-size: 17px;
    }

    .twitter-link {
        grid-area: twitter;
        cursor: pointer;
    }

    .facebook-link {
        grid-area: facebook;
        cursor: pointer;
    }

    .mail-link {
        grid-area: mail;
    }

    .telegram-link {
        grid-area: telegram;
    }

    img {
        margin-left: 2px;
        margin-right: 2px;
        width: 25px;
        height: 25px;
    }
}
