@import "./../../styles.scss";
.d3 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 270px;
    grid-template-rows: 25px 1fr 60px;
    grid-template-areas:
        "controls ."
        "graph ."
        ". .";

    .d3-controls {
        grid-area: controls;
        height: 100%;
        width: 100%;
        padding-left: 5px;
        padding-top: 5px;

        h3 {
            display: inline-block;
            font-size: 15px;
            margin-bottom: 4px;
            margin-right: 10px;
        }

        label {
            color: $font-gray;
            font-size: 12px;
            margin-right: 6px;
            input {
                margin-top: -2px;
                vertical-align: middle;
                margin-right: 2px;
            }
        }
    }

    .d3-graph {
        grid-area: graph;
        width: 100%;
        height: 100%;
        .link {
            transition: opacity 0.6s ease-out;
            stroke-width:1;
        }
        circle {
            transition:  opacity 0.3s ease-out;
            stroke-width: 3.5;
            stroke: #9729ff;

            &.active, &.hovered {
                stroke: #1da1f2;
            }
        }
        .opac {
            opacity: 0.2;
        }

    }
}
