<div class="d3" [ngClass]="highlight"> 
    <div class="d3-controls">
        <h3>Render by:</h3>
        <label *ngFor="let sim of simulations">
            <input 
                type="radio" 
                class="radio" 
                value="{{sim}}" 
                name="simulation" 
                [(ngModel)]="simulateBy"
                (click)="setSimulation(sim)">{{sim}}
        </label>
    </div>
    <!-- <loader [isLoaded]="loaded"></loader> -->
    <div class="canvas">
        <canvas class="d3-graph" (window:resize)="resizeCanvas()"></canvas>
    </div>
</div>
