@import "../../../../../styles.scss";
.content {
    width: 308px;
    max-width: 309px;
    margin: 20px;
    padding: 14px;
    padding-left: 9px;
    overflow: visible;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(36,41,51,0.1), 0 2px 2px 0 rgba(15,19,26,0.1), 0 2px 4px 0 rgba(15,19,26,0.1);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 24px 20px auto;
    grid-template-areas:
        "headline info_button"
        ". ."
        "chart chart";

    h2 {
        grid-area: headline;
        color: $color-header;
        font-size: 13.5px;
        font-weight: 600;
        align-self: center;
        margin-left: 5px;
    }

    info-button {
        grid-area: info_button;
    }
    // .enlarge-button {
    //     grid-area: enlarge_button;
    //     border-radius: 50%;
    //     background-color: $color-gray-placeholder;
    //     transition: background-color 0.2s linear;

    //     &:hover {
    //         transition: background-color 0.2s linear;
    //         background-color: $color-purple-dark;
    //     }
    //     img {
    //         width: 10px;
    //         margin-left: 7px;
    //         margin-top: 7px;
    //         transform: rotate(45deg);
    //     }
    // }
    info-button, .enlarge-button {
        justify-self: right;
        width: 24px;
        height: 24px;
    }


    .svg.small {
        grid-area: chart;
        width: 281px;
        height: 200px;
        background-color: #fff;
    }
}
