/* You can add global styles to this file, and also import other style files */
@import "./sass/fonts";
@import "./sass/colors";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: box-shadow 0.5s linear;
    outline: none;

    &::-moz-focus-inner {
        border: none;
    }
}
body {
    width: 100vw;
    height: 100vh;
    min-width: 800px;
    margin: 0px;
    min-height: 700px;
    font: 100% $font-roboto;
    max-width: 100vw;
    max-height: 100vh;
}

main {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

router-outlet {
    display: none;
}

.highlight {
    box-shadow:inset 0px 0px 5em 0px #9729ff;
}

//used in child components
.info-block {
    justify-self: center;
    text-align: center;
    
    h3 {
        margin: 0px;
        font-size: 12px;
    }
    p {
        font-size: 18px;
        color: $font-gray;
        font-weight: 600;
    }
}

.user-names {
    p:nth-child(1) {
        grid-area: name;
        font-size: 19px;
        font-weight: bold;
        overflow: hidden;
    }
    p:nth-child(2) {
        grid-area: screen_name;
        font-size: 16px;
        color: #657786;
    }
    &.small {
        p:nth-child(1) {
            font-size: 15px;
        }
        p:nth-child(2) {
            font-size: 13px;
        }
    }
}
