/* You can add global styles to this file, and also import other style files */
@import "./sass/fonts";
@import "./sass/colors";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: box-shadow 0.5s linear;
    outline: none;

    &::-moz-focus-inner {
        border: none;
    }
}
body {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    margin: 0px;
    min-height: 700px;
    font-family: $font-plex;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden; 
    scroll-behavior: smooth;

}

h1, h2, h3 {
    color: $color-header;
}

p {
    color: $color-paragraph;
}

.button {
    border: 2px solid $color-purple-dark;
    border-radius: 5px;
    font-family: $font-plex;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.light-button {
    background-color: #FFF;
    color: $color-purple-dark;
}
    
.purple-button {
    background-color: $color-purple-dark;
    color: #FFF;
}
    
.social-links-light {
    width: 170px;

    a {
        margin-right: 20px;
        width: 30px;
        height: 30px;
        text-decoration: none;

        img {
            width: 30px;
        }
    }
}


.logo-text {
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 3px;
}

//OLD
main {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

router-outlet {
    display: none;
}

//used in child components
.info-block {
    justify-self: center;
    text-align: center;
    
    h3 {
        margin: 0px;
        font-size: 12px;
    }
    p {
        font-size: 18px;
        color: $color-paragraph;
        font-weight: 600;
    }
}

.user-names {
    p:nth-child(1) {
        grid-area: name;
        font-size: 19px;
        font-weight: bold;
        overflow: hidden;
    }
    p:nth-child(2) {
        grid-area: screen_name;
        font-size: 16px;
        color: #657786;
    }
    &.small {
        p:nth-child(1) {
            font-size: 15px;
        }
        p:nth-child(2) {
            font-size: 13px;
        }
    }
}
