<div class="content">
    <menu [color]="'purple'"></menu>
    <h3 class="logo-text top">TRACEMAP</h3>
    <div class="section text-box white-bg">
        <h2>About us</h2>
        <p>Our vision is a world in which we battle misinformation and fake news together. We want people to join forces and coordinate efforts in online fact checking. And we achieve this by providing a platform on which everyone can share their bits of knowledge to solve these fact-checking puzzles. Linking cutting-edge graph database and machine learning technologies we seek to advance the state of the art of fact checking.</p>
    </div>
    <div class="section content-box gray-bg">
        <h2>The Team</h2>
        <div class="box-content team">
            <div class="small-img-box left">
                <img class="picture" alt="A picture of bruno."
                     src="/assets/images/about-us/bruno_320.png"
                     srcset="/assets/images/about-us/bruno_320.png 1x,
                            /assets/images/about-us/bruno_640.png 2x">
                <h4>Bruno Pace</h4>
                <p>Database Engineer</p>
                <div class="social-links-light">
                    <a href="https://twitter.com/selforganize" 
                    target="_blank">
                        <img srcset="
                        ../../assets/images/twitter_128.png 4x,
                        ../../assets/images/twitter_64.png 2x,
                        ../../assets/images/twitter_32.png 1x
                        "
                        src="../../assets/images/twitter_64.png">
                    </a>
                    <a href="https://www.linkedin.com/in/bruno-pace-1a8374150/" target="_blank">
                        <img srcset="
                        ../../assets/images/linkedin_128.png 4x,
                        ../../assets/images/linkedin_64.png 2x,
                        ../../assets/images/linkedin_32.png 1x
                        "
                        src="../../assets/images/linkedin_64.png">
                    </a>
                </div>
            </div>
            <div class="small-img-box">
                <img  class="picture" alt="A picture of eike."
                     src="/assets/images/about-us/eike_320.png"
                     srcset="/assets/images/about-us/eike_320.png 1x,
                            /assets/images/about-us/eike_640.png 2x">
                <h4>Eike Mücksch</h4>
                <p>Main Developer</p>
                <div class="social-links-light">
                    <a href="https://twitter.com/Eike_Mck" target="_blank">
                        <img srcset="
                        ../../assets/images/twitter_128.png 4x,
                        ../../assets/images/twitter_64.png 2x,
                        ../../assets/images/twitter_32.png 1x
                        "
                        src="../../assets/images/twitter_64.png">
                    </a>
                    <a href="https://www.linkedin.com/in/eike-m%C3%BCcksch-6a86b3149/" target="_blank">
                        <img srcset="
                        ../../assets/images/linkedin_128.png 4x,
                        ../../assets/images/linkedin_64.png 2x,
                        ../../assets/images/linkedin_32.png 1x
                        "
                        src="../../assets/images/linkedin_64.png">
                    </a>
                </div>
            </div>
            <div class="small-img-box left">
                <img class="picture" alt="A picture of allegra."
                     src="/assets/images/about-us/allegra_320.png"
                     srcset="/assets/images/about-us/allegra_320.png 1x,
                            /assets/images/about-us/allegra_640.png 2x">
                <h4>Allegra Pochtler</h4>
                <p>Business Developer</p> 
                <div class="social-links-light">
                    <a href="https://www.linkedin.com/in/allegra-pochtler-a4b67a103/" target="_blank">
                        <img srcset="
                        ../../assets/images/linkedin_128.png 4x,
                        ../../assets/images/linkedin_64.png 2x,
                        ../../assets/images/linkedin_32.png 1x
                        "
                        src="../../assets/images/linkedin_64.png">
                    </a>
                </div>
            </div>
            <div class="small-img-box">
                <img class="picture" alt="A picture of philipp"
                     src="/assets/images/about-us/philipp_320.png"
                     srcset="/assets/images/about-us/philipp_320.png 1x,
                            /assets/images/about-us/philipp_640.png 2x">
                <h4>Philipp Beyerlin</h4>
                <p>Business Developer</p>
                <div class="social-links-light">
                    <a href="https://www.linkedin.com/in/philippbeyerlin/" target="_blank">
                        <img srcset="
                        ../../assets/images/linkedin_128.png 4x,
                        ../../assets/images/linkedin_64.png 2x,
                        ../../assets/images/linkedin_32.png 1x
                        "
                        src="../../assets/images/linkedin_64.png">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div id="partners" class="section content-box white-bg partners">
        <h2>Partners</h2>
        <div class="box-content">
                <a  class="first" 
                href="https://delodi.net/en/index.html" 
                target="_blank">
                    <img alt="Link to our partner delodi." 
                    srcset="/assets/images/delodi_320.png 1x,
                            /assets/images/delodi_640.png 2x,
                            /assets/images/delodi_1280.png 4x"
                    src="/assets/images/delodi_320.png">
                </a>
                <a href="http://nerdworking.org/" target="_blank">
                    <img alt="Link to our partner nerdworking."
                    srcset="/assets/images/nerdworking_320.png 1x,
                            /assets/images/nerdworking_640.png 2x,
                            /assets/images/nerdworking_1280.png 4x"
                    src="/assets/images/nerdworking_320.png">
                </a>
                <a href="https://www.studiobosco.de" target="_blank">
                    <img alt="Link to our partner studio bosco."
                    srcset="/assets/images/studiobosco_320.png 1x,
                            /assets/images/studiobosco_640.png 2x,
                            /assets/images/studiobosco_1280.png 4x"
                    src="/assets/images/studiobosco_320.png">
                </a>
        </div>
    </div>
    <div id="sponsors" class="section content-box sponsors white-bg">
        <h2 class="column grid_4">Sponsors & Awards</h2>
        <div class="box-content">
            <a href="http://www.bpb.de/" target="_blank">
                <img alt="Link to the website of our sponsor bundeszentrale für politische bildung."
                     srcset="/assets/images/bpb_320.png 1x,
                            /assets/images/bpb_640.png 2x,
                            /assets/images/bpb_1280.png 4x"
                     src="/assets/images/bpb_c_320.png">
            </a>
            <a href="https://demoday.disruptpopulism.org/en/" target="_blank">
                #disruptpopulism
            </a>
        </div>
    </div>
    <footer></footer> 
</div>
