<div class="content">
    <menu [color]="'purple'"></menu>
    <a href="/home"><h3 class="logo-text top">TraceMap</h3></a>
    <div class="section-wrapper white-bg">
        <div class="section text-box">
            <h2>Our Story</h2>
            <p>Originated from a think tank for social and digital transformation composed of makers, tech experts and researchers, we are working towards establishing an open economy of expertise where people can contribute to and benefit from other people, initiatives or projects more naturally.</p>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div class="section content-box">
            <h2>The Team</h2>
            <div class="box-content team">
                <div class="small-img-box left">
                    <img class="picture" alt="A picture of bruno."
                        srcset="/assets/images/about-us/bruno_1280.png 4x,
                                /assets/images/about-us/bruno_640.png 2x,
                                /assets/images/about-us/bruno_320.png 1x"
                        src="/assets/images/about-us/bruno_320.png">
                    <h4>Bruno Pace</h4>
                    <p>Database Engineer</p>
                    <div class="social-links-light">
                        <a href="https://twitter.com/selforganize" 
                        target="_blank">
                            <img srcset="
                            ../../assets/images/twitter_128.png 4x,
                            ../../assets/images/twitter_64.png 2x,
                            ../../assets/images/twitter_32.png 1x
                            "
                            src="../../assets/images/twitter_64.png">
                        </a>
                        <a href="https://www.linkedin.com/in/bruno-pace-1a8374150/" target="_blank">
                            <img srcset="
                            ../../assets/images/linkedin_128.png 4x,
                            ../../assets/images/linkedin_64.png 2x,
                            ../../assets/images/linkedin_32.png 1x
                            "
                            src="../../assets/images/linkedin_64.png">
                        </a>
                    </div>
                </div>
                <div class="small-img-box">
                    <img  class="picture" alt="A picture of eike."
                        srcset="/assets/images/about-us/eike_1280.png 4x,
                                /assets/images/about-us/eike_640.png 2x,
                                /assets/images/about-us/eike_320.png 1x"
                        src="/assets/images/about-us/eike_320.png">
                    <h4>Eike Mücksch</h4>
                    <p>Lead Developer</p>
                    <div class="social-links-light">
                        <a href="https://twitter.com/Eike_Mck" target="_blank">
                            <img srcset="
                            ../../assets/images/twitter_128.png 4x,
                            ../../assets/images/twitter_64.png 2x,
                            ../../assets/images/twitter_32.png 1x
                            "
                            src="../../assets/images/twitter_64.png">
                        </a>
                        <a href="https://www.linkedin.com/in/eike-m%C3%BCcksch-6a86b3149/" target="_blank">
                            <img srcset="
                            ../../assets/images/linkedin_128.png 4x,
                            ../../assets/images/linkedin_64.png 2x,
                            ../../assets/images/linkedin_32.png 1x
                            "
                            src="../../assets/images/linkedin_64.png">
                        </a>
                    </div>
                </div>
                <div class="small-img-box left">
                    <img class="picture" alt="A picture of allegra."
                        srcset="/assets/images/about-us/allegra_1280.png 4x,
                                /assets/images/about-us/allegra_640.png 2x,
                                /assets/images/about-us/allegra_320.png 1x"
                        src="/assets/images/about-us/allegra_320.png">
                    <h4>Allegra Pochtler</h4>
                    <p>Project Manager</p> 
                    <div class="social-links-light">
                        <a href="https://www.linkedin.com/in/allegra-pochtler-a4b67a103/" target="_blank">
                            <img srcset="
                            ../../assets/images/linkedin_128.png 4x,
                            ../../assets/images/linkedin_64.png 2x,
                            ../../assets/images/linkedin_32.png 1x
                            "
                            src="../../assets/images/linkedin_64.png">
                        </a>
                    </div>
                </div>
                <!-- <div class="small-img-box">
                    <img class="picture" alt="A picture of philipp"
                        srcset="/assets/images/about-us/philipp_640.png 2x,
                                /assets/images/about-us/philipp_320.png 1x"
                        src="/assets/images/about-us/philipp_320.png">
                    <h4>Philipp Beyerlin</h4>
                    <p>Lost</p>
                    <div class="social-links-light">
                        <a href="https://www.linkedin.com/in/philippbeyerlin/" target="_blank">
                            <img srcset="
                            ../../assets/images/linkedin_128.png 4x,
                            ../../assets/images/linkedin_64.png 2x,
                            ../../assets/images/linkedin_32.png 1x
                            "
                            src="../../assets/images/linkedin_64.png">
                        </a>
                    </div>
                </div> -->
                <div class="small-img-box">
                    <img class="picture" alt="A picture of jonathan"
                        srcset="/assets/images/about-us/jonathan_1280.png 4x,
                                /assets/images/about-us/jonathan_640.png 2x,
                                /assets/images/about-us/jonathan_320.png 1x"
                        src="/assets/images/about-us/jonathan_320.png">
                    <h4>Jonathan Schlue</h4>
                    <p>Full Stack Developer</p>
                    <div class="social-links-light">
                        <a href="https://twitter.com/jonathanschlue" target="_blank">
                            <img srcset="
                            ../../assets/images/twitter_128.png 4x,
                            ../../assets/images/twitter_64.png 2x,
                            ../../assets/images/twitter_32.png 1x
                            "
                            src="../../assets/images/twitter_64.png">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section-wrapper white-bg">
        <div class="section text-box">
            <h2>Open Philosophy</h2>
            <p>We are interested in the development of methodologies and models for collaboration and resource sharing, to which receiving support and merging like-minded networks add immense value. As an initiative, we are ready to share our experience in the application of technologies to tackle social challenges. If you are interested in stimulating a culture of open knowledge, open source and open data, please 
                <a href="mailto:contact@tracemap.info">contact us</a>!<br><br>
                We believe the effectiveness of TraceMap can only be achieved if the tool is free of charge. Not only is our aim to make news diffusion transparent, we are also transparent in our work. Our codes and algorithms are open source.</p>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div id="partners" class="section content-box partners">
            <h2>Partners</h2>
            <div class="box-content">
                    <a  class="first" 
                    href="https://delodi.net/en/index.html" 
                    target="_blank">
                        <img alt="Link to our partner delodi." 
                        srcset="/assets/images/about-us/delodi_320.png 1x,
                                /assets/images/about-us/delodi_640.png 2x,
                                /assets/images/about-us/delodi_1280.png 4x"
                        src="/assets/images/about-us/delodi_320.png">
                    </a>
                    <a  class="second" href="http://nerdworking.org/" target="_blank">
                        <img alt="Link to our partner nerdworking."
                        srcset="/assets/images/nerdworking_320.png 1x,
                                /assets/images/nerdworking_640.png 2x,
                                /assets/images/nerdworking_1280.png 4x"
                        src="/assets/images/nerdworking_320.png">
                    </a>
                    <a class="third" href="https://www.studiobosco.de" target="_blank">
                        <img alt="Link to our partner studio bosco."
                        srcset="/assets/images/about-us/bosco_320.png 1x,
                                /assets/images/about-us/bosco_640.png 2x,
                                /assets/images/about-us/bosco_1280.png 4x"
                        src="/assets/images/about-us/bosco_320.png">
                    </a>
            </div>
        </div>
    </div>
    <div class="section-wrapper white-bg">
        <div id="sponsors" class="section content-box sponsors">
            <h2 class="column grid_4">Sponsors & Awards</h2>
            <div class="box-content">
                <a class="first" href="http://www.bpb.de/" target="_blank">
                    <img alt="Link to the website of our sponsor bundeszentrale für politische bildung."
                        srcset="/assets/images/about-us/bpb_320.png 1x,
                                /assets/images/about-us/bpb_640.png 2x,
                                /assets/images/about-us/bpb_1280.png 4x"
                        src="/assets/images/about-us/bpb_320.png">
                </a>
                <a class="second" href="https://advocate-europe.eu/" target="_blank">
                    <img alt="Link to the website of the advocate europe initiative."
                        srcset="/assets/images/about-us/advocate_320.png 1x,
                                /assets/images/about-us/advocate_640.png 2x,
                                /assets/images/about-us/advocate_1280 4x"
                        src="/assets/images/about-us/advocate_320.png">
                </a>
                <a>
                    #disruptpopulism
                </a>
            </div>
        </div>
    </div>
</div>
<my-footer></my-footer> 
