<div class="content">
    <a href="/home"><h3 class="logo-text top">TraceMap</h3></a>
    <menu [color]="'purple'"></menu>
    <div class="section-wrapper white-bg">
        <div class="section text-box">
            <h2>The Database</h2>
            <p>The database we created already stores public Twitter users’ social relations. It relies on tokens donated by Twitter users that are willing to support our project.</p>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div class="section text-box">
            <h2>Public Data</h2>
            <p>We respect people's privacies - as it should be! - and therefore we exclusively work with public data. For our tool to work, we need to access all public data from Twitter that is relevant to the analysis of each tweet. Twitter uses a protocol called <a href="https://oauth.net">OAuth</a> that allows third-party applications to access that data in a secure way using tokens.</p>
        </div>
    </div>
    <div class="section-wrapper white-bg">
        <div class="section text-box">
            <h2>Privacy & Transparency</h2>
            <p>The tokens we request from Twitter give us the most restrictive access to your data, which is read-only. This will allow our application to read Tweets on your timeline and see who you follow. In general, this is public information, as Twitter is an open social network. If you manually changed your settings to hide who you follow or to hide your tweets, we will not use this data because we respect your privacy.</p>
        </div>
    </div>
</div>
<my-footer></my-footer>
