<header></header>
<div id="team" class="section grid_4">
    <h2 class="column grid_4">About us</h2>
    <p class="column grid_4">Our vision is a world in which we battle misinformation and fake news together. We want people to join forces and coordinate efforts in online fact checking. And we achieve this by providing a platform on which everyone can share their bits of knowledge to solve these fact-checking puzzles. Linking cutting-edge graph database and machine learning technologies we seek to advance the state of the art of fact checking.</p>
    <div class="column grid_1">
        <img alt="A picture of bruno."
             src="/assets/images/about-us/bruno_320.png"
             srcset="/assets/images/about-us/bruno_320.png 1x,
                    /assets/images/about-us/bruno_640.png 2x">
        <h4>Bruno Pace</h4>
        <p>Systems engineer interested in all kinds of networks, ended up researching biological and social systems. Fascinated by the philosophy and maths behind natural and artificial information processing, Bruno works on the structure and analysis of <cite>TraceMap</cite>'s data.</p>
    </div>
    <div class="column grid_1">
        <img alt="A picture of eike."
             src="/assets/images/about-us/eike_320.png"
             srcset="/assets/images/about-us/eike_320.png 1x,
                    /assets/images/about-us/eike_640.png 2x">
        <h4>Eike Mücksch</h4>
        <p>Eike is developing the webtool and the website. Besides he studies computer science in Leipzig, loves cycling, tech and (web-) policies.</p>
    </div>
    <div class="column grid_1">
        <img alt="A picture of allegra."
             src="/assets/images/about-us/allegra_320.png"
             srcset="/assets/images/about-us/allegra_320.png 1x,
                    /assets/images/about-us/allegra_640.png 2x">
        <h4>Allegra Pochtler</h4>
        <p>Allegra is responsible for the business development, for herding the cats and shaking up the team.</p>
    </div>
    <div class="column grid_1">
        <img alt="A picture of philipp"
             src="/assets/images/about-us/philipp_320.png"
             srcset="/assets/images/about-us/philipp_320.png 1x,
                    /assets/images/about-us/philipp_640.png 2x">
        <h4>Philipp Beyerlin</h4>
        <p>Philipp is a strategic thinker with a hands-on mentality. He is responsible for <cite>TraceMap</cite>s funding and communications.</p>
    </div>
</div>
<div class="seperator"></div>
<div id="partners" class="section grid_4">
    <h3 class="column grid_4">Partners</h3>
    <div class="column grid_1">
        <a href="https://delodi.net/en/index.html" target="_blank">
            <img alt="Link to our partner delodi." 
            src="/assets/images/about-us/delodi_c_160.png"
            srcset="/assets/images/about-us/delodi_c_160.png 1x,
                    /assets/images/about-us/delodi_c_320.png 2x">
        </a>
        <p>Delodi</p>
    </div>
    <div class="column grid_1">
        <a href="http://nerdworking.org/" target="_blank">
            <img alt="Link to our partner nerdworking."
                 src="/assets/images/about-us/nerdworking_c_160.png"
                 srcset="/assets/images/about-us/nerdworking_c_160.png 1x,
                    /assets/images/about-us/nerdworking_c_320.png 2x">
        </a>
        <p class="name">Nerdworking</p>
    </div>
    <div class="column grid_1">
        <a href="https://www.studiobosco.de" target="_blank">
            <img alt="Link to our partner studio bosco."
                 src="/assets/images/about-us/bosco_c_160.png"
                 srcset="/assets/images/about-us/bosco_c_160.png 1x,
                    /assets/images/about-us/bosco_c_320.png 2x">
        </a>
        <p class="name">Studio Bosco</p>
    </div>
</div>
<div class="seperator"></div>
<div id="sponsors" class="section grid_4">
    <h3 class="column grid_4">Sponsors & Awards</h3>
    <div class="column grid_1">
        <a href="http://www.bpb.de/" target="_blank">
            <img alt="Link to the website of our sponsor bundeszentrale für politische bildung."
                 src="/assets/images/about-us/bpb_c_160.png"
                 srcset="/assets/images/about-us/bpb_c_160.png 1x,
                        /assets/images/about-us/bpb_c_320.png 2x">
        </a>
    </div>
    <div class="column grid_1">
        <a href="https://demoday.disruptpopulism.org/en/" target="_blank">
            <img alt="Link to the website of the disrupt-populism event"
                 src="/assets/images/about-us/disrupt_160.png"
                 srcset="/assets/images/about-us/disrupt_160.png 1x,
                        /assets/images/about-us/disrupt_320.png 2x">
        </a>
    </div>
</div>
<div class="fancySeperator"></div>
<div id="funkyPurple" class="section grid_4">
    <div id="donate" class="column grid_2">
        <h2>Support us</h2>
        <p>We need your help to develop <cite>TraceMap</cite> further. Your support is key in order to make it open-access. Donations allow us to achieve this mission!</p>
        <form action="https://donorbox.org/tracemap-donations-2017" target="_blank">
            <input type="submit" name="donate" value="DONATE">
        </form>
        <p>You can also support us, with providing free tokens.<br>To do so, you just need a twitter account.</p>
        <form action="https://twitter.tracemap.info" target="_blank">
            <input type="submit" name="donate" value="HELP US">
        </form>
    </div>
    <div id="contact" class="column grid_2">
        <h2>Contact</h2>
        <p>Do you want to know more about us?<br>Just leave us a message and we will get in touch.</p>
        <form method="post" action="index.php#contact">
            <span>NAME</span><br>
            <input type="text" name="name"><br>
            <span>E-MAIL</span><br>
            <input type="email" name="email"><br>
            <span>MESSAGE</span><br>
            <textarea cols="" rows="6" name="message"></textarea>
            <input type="submit" name="submit" value="SEND">
        </form>
    </div>
</div>
