<div class="content">
    <h3 class="logo-text top">TRACEMAP</h3>
    <menu [color]="'purple'"></menu>
    <div class="section-wrapper white-bg">
        <div class="section text-box">
            <h2>The Database</h2>
            <p>The database we created already stores public Twitter users’ social relations. It relies on tokens donated from Twitter users that are willing to support our project.</p>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div class="section text-box">
            <h2>Public Data</h2>
            <p>We respect people's privacies - as it should be! -, and therefore we exclusively work with public data. For our tool to work, we need to access all public data from Twitter that is relevant to the analysis of each tweet. Twitter uses a protocol called <a href="https://oauth.net">OAuth</a> that allows third-party applications to access that data in a secure way using tokens.</p>
        </div>
    </div>
    <div class="section-wrapper white-bg">
        <div class="section content-box">
            <h2>Twitter Tokens</h2>
            <div class="box-content">
                <h3>What are Twitter tokens?</h3>
                <p>Tokens are unique keys that allow external applications to request and get a certain amount of data from Twitter. Once a token has been used, it becomes inactive for a few minutes, limiting the amount of data one can actually access. For us to access the volume of data we need, we must have a large number of tokens.</p>
                <h3>Who uses tokens?</h3>
                <p>Apps that have a high traffic of people get more tokens and, therefore, access to more data. We need approximately 600 of them to maintain the public German data up-to-date and multiple thousands to scale up to Twitter's entire network. That's why your help is decisive!</p>
                <h3>How does TraceMap get Twitter tokens?</h3>
                <p>A token is generated after you click on the button below. If you are not yet logged in to Twitter, you will be asked  to confirm your identity by typing in your Twitter login credentials. After confirming that you allow TraceMap to get access to Twitter data, this request will reach Twitter and the token will be given to us. Each Twitter user can donate only one token to TraceMap. You can nevertheless donate tokens to other apps that you support with one account. Also, you can always revoke access to a certain token going from the "Settings and Privacy” to the “Apps" menu inside Twitter and clicking on the "Revoke access" button corresponding to each app.</p>
                <h3>Support us with a token</h3>
                <p>Do you have a Twitter account and 10 seconds of your time? If yes, you can accelerate TraceMap’s data gathering by donating an access token. This will allow us to request Twitter’s data more frequently. To do so, simply click on the button below and Twitter will ask you to confirm who you are.</p>
                <a href="https://twitter.tracemap.info/" target="_blank">
                    <button 
                    type="button" 
                    class="button purple-button">Donate Token</button>
                </a>
            </div>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div class="section text-box">
            <h2>Privacy & Transparency</h2>
            <p>The tokens we request from Twitter give us the most restrictive access to your data, which is read-only. This will allow our application to read Tweets on your timeline and see who you follow. In general, this is public information, as Twitter is an open social network. If you manually changed your settings to hide who you follow or to hide your tweets, <b>we will not use this data because we respect your privacy.</b></p>
        </div>
    </div>
    <div class="section-wrapper white-bg">
        <div class="section content-box">
            <h2>Studies and Articles</h2>
            <div class="box-content">
                <p>In the last couple of months, more and more studies showed that network analysis is one key principle of automatic and computer-based misinformation detection.</p>
                <p>Some of the metrics we provide are based on these results:</p>
                <div class="studie-box first">
                    <a 
                    href="http://science.sciencemag.org/content/359/6380/1146"
                    target="_blank">
                        <h3>The spread of true and false news online</h3>
                    </a>
                    <p class="authors">Soroush Vosoughi, Deb Roy, Sinan Aral</p>
                    <p class="date">Science, 09 Mar 2018</p>
                </div>
                <div class="studie-box">
                    <a 
                    href="https://www.researchgate.net/publication/318981549_Fake_News_Detection_on_Social_Media_A_Data_Mining_Perspective"
                    target="_blank">
                        <h3>Fake News Detection on Social Media:<br>A Data Mining Perspective</h3>
                    </a>
                    <p class="authors">Kai Shu, Amy Sliva, Suhang Wang, Jiliang Tang, Huan Liu</p>
                    <p class="date">ACM SIGKDD Explorations Newsletter, 19 Aug 2017</p>
                </div>
                <div class="studie-box">
                    <a 
                    href="http://www.public.asu.edu/~liangwu1/WSDM18_TraceMiner.pdf"
                    target="_blank">
                        <h3>Tracing fake news footprints:<br>characterizing social media messages by how they propagate</h3>
                    </a>
                    <p class="authors">Liang Wu, Huan Liu</p>
                    <p class="date">Proceeding WSDM '18, 09 Feb 2018</p>
                </div>
            </div>
        </div>
    </div>
</div>
<my-footer></my-footer>
