.description {
    width: 100%;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 450px 50px;
    justify-content: center;
    grid-template-areas:
        "picture_one picture_two"
        "text_one text_two";

    img {
        width: 450px;
        margin-left: 25px;
        margin-right: 25px;
        box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.3);
    }

    p {
        font-size: 20px;
        font-weight: bold;
        color: #657786;
        margin-left: 25px;
        margin-top: 10px;
    }

    .picture-1 {
        grid-area: picture_one;
    }
    .picture-2 {
        grid-area: picture_two;
    }
    .text-1 {
        grid-area: text_one;
    } 
    .text-2 {
        grid-area: text_two;
    }
}

