<div class="content">
    <a href="/home"><h3 class="logo-text top">TRACEMAP</h3></a>
    <menu [color]="'purple'"></menu>
    <div class="section-wrapper white-bg">
        <div class="section text-box">
            <h2>Give us a Twitter Token</h2>
            <img class="text-bg twitter-circle" srcset="
            ../../assets/images/twitter_bg_900.png 4x,
            ../../assets/images/twitter_bg_600.png 2x,
            ../../assets/images/twitter_bg_300.png 1x
            "
            src="../../assets/images/twitter_bg_300.png">
            <p>TraceMap is an open source web tool that allows you to visualize the spread of a tweet, analyze its trustworthiness and to engage with others in fighting misinformation. To achieve this, <b>we need to gather plenty of data and make a lot of twitter API calls</b>. Unfortunately, the number of twitter API calls is limited, so our data gathering depends on accumulating Twitter tokens. That’s how you can help us: <b>by logging in once, you increase our data-transfer rate.</b> We are only interested in public Twitter data, you are granting our app the most permissive read-only access.<br><br>Our app cannot access any private information and cannot send tweets.</p>
            <a href="https://twitter.tracemap.info/" target="_blank">
                <button 
                type="button" 
                class="button purple-button">Donate Token</button>
            </a>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div class="section text-box">
            <h2>What are Twitter Tokens?</h2>
            <p>Tokens are unique keys that allow external applications to request and get a certain amount of data from Twitter. Once a token has been used, it becomes inactive for a few minutes, limiting the amount of data one can actually access. For us to access the volume of data we need, we must have a large number of tokens.</p>
        </div>
    </div>
    <div class="section-wrapper white-bg">
        <div class="section text-box">
            <h2>Who uses tokens?</h2>
            <p>Apps that have a high traffic of people get more tokens and, therefore, access to more data. We need approximately 600 of them to maintain the public German data up-to-date and multiple thousands to scale up to Twitter's entire network. That's why your help is decisive!</p>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div class="section text-box">
            <h2>How does TraceMap get Twitter tokens?</h2>
            <p>A token is generated after you click on the button below. If you are not yet logged in to Twitter, you will be asked  to confirm your identity by typing in your Twitter login credentials. After confirming that you allow TraceMap to get access to Twitter data, this request will reach Twitter and the token will be given to us. Each Twitter user can donate only one token to TraceMap. You can nevertheless donate tokens to other apps that you support with one account. Also, you can always revoke access to a certain token going from the "Settings and Privacy” to the “Apps" menu inside Twitter and clicking on the "Revoke access" button corresponding to each app.</p>
        </div>
    </div>
    <div class="section-wrapper white-bg">
        <div class="section text-box">
            <h2>Support us with a token</h2>
            <p>Do you have a Twitter account and 10 seconds of your time? If yes, you can accelerate TraceMap’s data gathering by donating an access token. This will allow us to request Twitter’s data more frequently. To do so, simply click on the button below and Twitter will ask you to confirm who you are.</p>
            <a href="https://twitter.tracemap.info/" target="_blank">
                <button 
                type="button" 
                class="button purple-button">Donate Token</button>
            </a>
        </div>
    </div>
</div>
<my-footer></my-footer>