@import "../../styles.scss";
.content {
    .logo-text.top {
        color: $color-purple-dark;
    }
    .text-box {
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header paragraph"
            "image paragraph"
            ". button";

        h2 {
            grid-area: header;
            padding-right: 20px;
        }

        p {
            grid-area: paragraph;

            b {
                display: inline;
                font-weight: 500;
            }
        }

        .text-bg {
            grid-area: image;
            width: 215px;
            height: 215px;
            opacity: 0.2;
            margin-left: 20px;
        }

        a {
            grid-area: button;
            margin-top: 20px;
            button {
                width: 147px;
                height: 46px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .content {
        .text-box {
            grid-template-columns: 300px 1fr;
        }
    }
}


@media only screen and (max-width: 930px) {
    .content {
        .text-box {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "header"
                "paragraph"
                "button";

            h2 {
                grid-area: header;
                margin-bottom: 20px;
            }

            p {
                grid-area: paragraph;
                font-size: 22px;
            }

            button {
                grid-area: button;
            }

            .text-bg {
                display: none;
            }
        }
    }
}