@import "../../styles.scss";

.content-wrapper {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $color-black-bg;
    .content {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;

        .main-section {
            h3 {
                color: $color-gray-icons;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            a {
                display: block;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 20px;
                text-decoration: none;
                color: $color-paragraph;
                &.active {
                    color: $color-gray-icons;
                    cursor: default;
                }
                &:hover {
                    color: #fff;
                }
            }

            display: grid;
            grid-template-columns: 320px auto auto;
            grid-template-rows: auto;
            grid-column-gap: 30px;
            grid-template-areas: 
                "contact donate donate";

            .contact {
                grid-area: contact;
                .social-links-light {
                    a {
                        display: inline;
                        width: 20px;
                        height: 20px;
                        margin-right: 20px;
                    }
                    img {
                        width: 20px;
                    }
                }
            }
            .donate {
                grid-area: donate;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows:
                    "auto auto auto";
                grid-template-areas:
                    "headline"
                    "paragraph"
                    "button";

                h3 {
                    grid-area: headline;
                    color: #fff;
                }

                p {
                    grid-area: paragraph;
                    color: $color-gray-icons;
                    font-size: 18px;
                    line-height: 30px;
                }

                a {
                    grid-area: button;
                    margin-top: 20px;
                    button {
                        width: 147px;
                        height: 46px;
                    }
                }
            }
        }
        .sublinks {
            margin-top: 50px;
            height: 28px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 28px;
            grid-template-areas:
                "left right";

            .left {
                grid-area: left;
                a {
                    display: inline;
                    margin-left: 20px;
                    &.first {
                        margin-left: 0px;
                    }
                }
            }
            .right {
                grid-area: right;
                p {
                    display: inline;
                    font-size: 18px;
                }
            }

            a {
                text-decoration: none;
                font-size: 18px;
                color: $color-paragraph;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: 1049px) {
    .content-wrapper {
        padding-left: 60px;
        .content {
            .main-section {
                grid-template-columns: 320px auto auto;
            }
        }
    }
}

@media only screen and (max-width: 749px) {
    .content-wrapper {
        width: 100vw;
        padding: 60px 20px;
        .content {
            .main-section {
                grid-template-columns: 280px;
                grid-template-rows: auto auto;
                grid-row-gap: 30px;
                grid-template-areas:
                    "contact"
                    "donate";
            
                .contact {
                    grid-area: contact;
                }

                .donate {
                    grid-area: donate
                }

            }
            .sublinks {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 28px 20px 28px;
                grid-template-areas:
                    "left"
                    "."
                    "right";

                .left {
                    grid-area: left;
                }
                .right {
                    grid-area: right;
                }
            }
        }
    }
}
