<div class="content-wrapper">
    <div class="content">
        <div class="main-section">
            <div class="contact">
                <h3>Contact</h3>
                <a href="mailto:contact@tracemap.info">contact@tracemap.info</a>
                <div class="social-links-light">
                    <a href="https://twitter.com/trace_map" target="_blank">
                        <img srcset="
                        ../../assets/images/twitter_128.png 4x,
                        ../../assets/images/twitter_64.png 2x,
                        ../../assets/images/twitter_32.png 1x
                        "
                        src="../../assets/images/twitter_64.png">
                    </a>
                    <a href="https://www.linkedin.com/company/trace-map" target="_blank">
                        <img srcset="
                        ../../assets/images/linkedin_128.png 4x,
                        ../../assets/images/linkedin_64.png 2x,
                        ../../assets/images/linkedin_32.png 1x
                        "
                        src="../../assets/images/linkedin_64.png">
                    </a>
                    <a href="https://github.com/tracemap/" target="_blank">
                        <img srcset="
                        ../../assets/images/github_128.png 4x,
                        ../../assets/images/github_64.png 2x,
                        ../../assets/images/github_32.png 1x
                        "
                        src="../../assets/images/github_64.png">
                    </a>
                </div>
            </div> 
            <div class="donate">
                <h3>Give us a Token. It’s free!</h3>
                <p>Do you have a Twitter account and 10 seconds of your time? If yes, you can accelerate TraceMap’s data gathering by donating an access token. This will allow us to request Twitter’s data more frequently.</p> 
                <a href="https://twitter.tracemap.info/" target="_blank">
                    <button 
                    type="button" 
                    class="button purple-button">Donate Token</button>
                </a>
            </div>
        </div>
        <div class="sublinks">
            <div class="left">
                <a class="first" href="/legal">Legal</a>
                <a href="/privacy">Terms & Privacy Policy</a>
            </div>
            <div class="right">
                <p class="company-copyright">© 2018 TraceMap gemeinnützige UG</p>
            </div>
        </div>
    </div>
</div>
