@import "../../styles.scss";

.content-wrapper {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: $color-black-bg;
    .content {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;

        h3 {
            color: $color-gray-icons;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 24px;
        }

        a {
            display: block;
            font-size: 18px;
            margin-bottom: 20px;
            text-decoration: none;
            color: $color-paragraph;
            &.active {
                color: $color-gray-icons;
                cursor: default;
            }
        }

        display: grid;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: auto;
        grid-template-areas: 
            "row_1 row_2 row_3";

        .row1 {
            grid-area: row_1;
            .social-links-light {
                a {
                    display: inline;
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
                img {
                    width: 20px;
                }
            }
        }
        .row2 {
            grid-area: row_2;

            button {
                width: 132px;
                height: 36px;
                font-size: 18px;
            }
        }
        .row3 {
            grid-area: row_3;
            .company-copyright {
                font-size: 14px;
            }
        }

    }
}

@media only screen and (max-width: 1049px) {
    .content-wrapper {
        padding-left: 60px;
        .content {
            grid-template-columns: 250px 250px 250px; 
        }
    }
}

@media only screen and (max-width: 749px) {
    .content-wrapper {
        width: 100vw;
        padding: 60px 20px;
        .content {
            grid-template-columns: 280px;
            grid-template-rows: auto auto auto;
            grid-row-gap: 30px;
            grid-template-areas:
                "row_1"
                "row_2"
                "row_3";

            .row1 {
                grid-area: row_1;
            }
            .row2 {
                grid-area: row_2;
            }
            .row3 {
                grid-area: row_3;
            }

        }
    }
}
