<div class="content">
    <h3 class="logo-text top">TRACEMAP</h3>
    <menu [color]="'purple'"></menu>
    <div class="section text-box white-bg">
        <h2>Donate a token</h2>
        <div class="box-content">
            <p>Do you have a Twitter account and 10 seconds of time? If yes, you can accelerate TraceMap’s development process through donating an access token. This will allow us to request Twitter’s data more frequently. To do so, just log in to your Twitter profile via our website.</p>
        </div>
        <a href="https://twitter.tracemap.info/" target="_blank">
            <button 
            type="button" 
            class="button purple-button">Donate Token</button>
        </a>
    </div>
    <div class="section text-box gray-bg">
        <h2>About the tokens</h2>
        <p>Since 2012, Twitter's API (an interface for external applications like ours) requires user authentication and limits the amount of requests per application and minute. To request the API more frequently, we need Access Tokens that are generated upon login. Every user, who logs in through our website generates a token. We need approximately 600 of them to collect the German data and multiple thousands to scale up to Twitter's entire network. That's why your help is decisive!</p>
    </div>
    <div class="section content-box white-bg">
        <h2>Privacy</h2>
        <div class="box-content">
            <div class="icon-text first">
                <p>If you authenticate with your Twitter account, we cannot see or read your private data. We chose the most restrictive permission to your data, which is read-only. This will allow our application to read Tweets on your timeline and see who you follow. In general, this is public information, as Twitter is an open social network.<br><br>
                If you manually changed your privacy-settings to hide who you follow or to hide your tweets, we will be able to see this information after you authenticated.</p>
                <img srcset="
                ../../assets/images/privacy_512.png 4x,
                ../../assets/images/privacy_256.png 2x,
                ../../assets/images/privacy_128.png 1x"
                src="../../assets/images/privacy_128.png">            
            </div>
        </div>
    </div>
    <div class="section text-box gray-bg">
        <h2>Donate a token</h2>
        <div class="box-content">
            <p>Clicking the button below will redirect you to Twitter, where you can log in and donate a token. This will give our application read access to your Tweets, which is the most restricted permission one can choose from.</p>
        </div>
        <a href="https://twitter.tracemap.info/" target="_blank">
            <button 
            type="button" 
            class="button purple-button">Donate Token</button>
        </a>
    </div>
</div>
<my-footer></my-footer>
