@import "../../styles.scss";

.content {
    .logo-text.top {
        color: $color-purple-dark;
    }

    .text-box {
        grid-template-areas:
            "header paragraph"
            "header button";

        h2 {
            grid-area: header;
        }

        p {
            grid-area: paragraph;
        }

        button {
            margin-top: 40px;
            grid-area: button;
            width: 147px;
            height: 46px;
        }
    }
    .content-box {
        .box-content {
            p {
                font-size: 24px;
                line-height: 40px;
                font-weight: 300;
                margin-bottom: 40px;
            }

            .icon-text {
                margin-top: 40px;
                &.first {
                    margin-top: 0px;
                }
                display: grid;
                grid-template-columns: 1fr 90px;
                grid-template-rows: auto;
                grid-template-areas:
                    "text icon";

                p {
                    grid-area: text;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 300;
                    padding-right: 20px;
                    margin-bottom: 0px;
                }

                img {
                    grid-area: icon;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 930px ) {
    .content {
        .logo-text.top {
            color: $color-purple-dark;
        }
        .section-wrapper {
            .text-box {
                grid-template-columns: 1fr;
                grid-template-rows: 70px auto auto;
                grid-template-areas:
                    "header"
                    "paragraph"
                    "button";

                h2 {
                    grid-area: header;
                }

                p {
                    grid-area: paragraph;
                }

                button {
                    grid-area: button;
                }
            }

            .content-box {
                .box-content {
                    .icon-text {
                        grid-template-columns: 1fr 60px;
                        
                        p {
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}
