@import "../../styles.scss";

.content {

    .full-screen {
        &.start {
            background-color: transparent;
            display: grid;
            grid-template-columns: 500px 1fr;
            grid-template-rows: 1fr 1fr 100px;
            grid-template-areas:
                "searchbar searchbar"
                "searchbar searchbar"
                "anchors anchors"; 

            .bg {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
                min-height: 600px;
                min-width: 850px;
                z-index: -2;
                background-color: $color-purple-dark;
            }
            .bg-outer {
                position: absolute;
                z-index: -1;
                width: 528px;
                height: 528px;
                border-radius: 50%;
                left: 50%;
                margin-left: -264px;
                top: 50%;
                margin-top: -264px;
                background-color: $color-purple-light;

                .bg-inner {
                    width: 228px;
                    height: 228px;
                    border-radius: 50%;
                    margin-left: 150px;
                    margin-top: 150px;
                    background-color: $color-purple-dark;
                }
            }

            // .basic-desc {
            //     grid-area: basic_desc;
            //     margin-bottom: 50px;
            //     align-self: end;
            //     p {
            //         color: #FFF;
            //         line-height: 68px;
            //         font-weight: 300;
            //         font-size: 42.64px;

            //         a {
            //             color: #FFF;
            //             text-decoration: none;
            //             border-bottom: 2px solid #FFF;
            //         }
            //     }
            // }
            .beta-info {
                grid-area: searchbar;
                align-self: center;
                justify-self: center;
                max-width: 800px;
                p {
                    color: $color-purple-dark;
                    background-color: rgba(255,255,255,0.8);
                    border-radius: 5px;
                    line-height: 68px;
                    font-weight: 400;
                    padding: 0px 20px;
                    text-align: center;
                    font-size: 42.64px;

                    span {
                        text-decoration: underline;
                        cursor: pointer;

                    }
                }

            }
            // .searchbar {
            //     grid-area: searchbar;
            //     width: 400px;
            //     height: 60px;
            //     margin-top: 30px;
            //     border-bottom: 2px solid #FFF;
            //     display: grid;
            //     grid-template-columns: 1fr 50px;
            //     grid-template-rows: 52px;
            //     grid-template-areas:
            //         "input button";

            //     &.disabled {
            //         opacity: 0.2;
            //     }

            //     input[type=text] {
            //         grid-area: input;
            //         width: 100%;
            //         background-color: transparent;
            //         border: none;
            //         margin-right: 10px;
            //         font-size: 23.99px;
            //         color: #FFF;
            //         line-height: 40px;
            //         &::placeholder {
            //             color: #FFF;
            //             opacity: 1;
            //         }
            //     }

            //     .search-button {
            //         grid-area: button;
            //         &:hover {
            //             cursor: pointer;
            //         }
            //         img {
            //             width: 40px;
            //         }
            //     }

            // }
            .anchors {
                grid-area: anchors;
                font-size: 18px;
                line-height: 34px;
                justify-self: right;
                margin-right: 60px;
                align-self: end;
                p {
                    color: #FFF;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .text-box {
        grid-template-areas: 
            "header paragraph"
            "header button";

        h2 {
            grid-area: header;
        }

        p {
            grid-area: paragraph;
        }

        button {
            margin-top: 40px;
            grid-area: button;
            width: 147px;
            height: 46px;
        }
    }

    .content-box {
        .box-content {
            .img-box {
                float: left;
                &.first {
                    padding-right: 0px;
                    margin-right: 30px;
                }
                
                display: grid;
                grid-template-rows: 277px 90px;
                grid-template-columns: 330px;
                grid-template-areas:
                    "image"
                    "description";
                img {
                    grid-area: image;
                }

                p {
                    grid-area: description;
                    padding-top: 27px;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 400;
                }
            }
        }

        .newsletter-box {
            display: grid;
            width: 100%;
            grid-template-columns: 100%;
            grid-tmplate-rows: auto auto auto;
            grid-template-areas:
                "text"
                "newsletter_area"
                "social_links";

            p {
                grid-area: text;
                max-width: 700px;
                font-size: 24px;
                line-height: 40px;
                font-weight: 300;
                margin-bottom: 40px;
            }

            .newsletter-area {
                grid-area: newsletter_area;

                p {
                    margin-top: -30px;
                    color: $color-header;

                    &.subscription-answer {
                        font-weight: 400;
                    }
                }

                .newsletter-form {
                    margin-bottom: 40px;
                    display: grid;
                    grid-template-columns: 370px 142px;
                    grid-template-rows: 46px;
                    grid-template-areas:
                        "input button";

                    input {
                        grid-area: input;
                        border: 1.5px solid #C0C4CC;
                        width: 100%;
                        height: 43px;
                        border-radius: 4px;
                        font-size: 18px;
                        line-height: 28px;
                        padding-left: 15px;
                        &::placeholder {
                            color: #A8ABB3;
                            opacity: 1;
                        }
                    }

                    .purple-button {
                        grid-area: button;
                        height: 42px;
                        width: 142px;
                        margin-left: 15px;
                        vertical-align: top;
                    }
                }
            }


            .follow-us {
                grid-area: social_links;
                height: 30px;
                display: grid;
                grid-template-columns: 83px auto;
                grid-template-rows: auto;
                grid-template-areas:
                    "text social_icons";
                p {
                    grid-area: text;
                    font-size: 18px;
                    line-height: 28px;
                    width: 83px;
                }

                .social-links-light {
                    grid-area: social_icons;
                    margin-left: 28px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1049px) {
    .content {

        .content-box {
            .box-content {
                .img-box {
                    padding-top: 30px;
                    &.first {
                        padding-right: 0px;
                        padding-top: 0px;
                    }

                    grid-template-rows: 277px auto;

                    p {
                        padding-top: 10px;
                    }
                }
            }
            .newsletter-box {
                
                width: 100%;
                p {
                    width: 100%;
                }     
                .newsletter-area .newsletter-form {
                    grid-template-columns: 100%;
                    grid-template-rows: 46px 46px;
                    grid-template-areas: 
                        "input"
                        "button";

                    input {
                        grid-area: input;
                        width: 350px;
                    }

                    .purple-button {
                        grid-area: button;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                }
            }

       }
    }
}

