<div class="content">
    <header></header>
	<div class="hint">
		<p>
			Enter a Tweets Url from <a href="https://twitter.com">Twitter</a>.
		</p>
	</div>
    <div class="description">
        <img  class="picture-1" src="./../../assets/images/post_twitter_1.png" alt="an example vk.com post on someones timeline.">
        <p class="text-1">1. Click on the posts timestamp</p>
        <img class="picture-2" src="./../../assets/images/post_twitter_2.png" alt="the example after the timestamp was clicked">
        <p class="text-2">2. Paste the URL of the post to our tools search bar</p>
    </div>
</div>
