.content {
	max-width: 100%;
	min-width: 1000px;
	overflow: hidden;
	background-image: url("./../../assets/images/bg1920.png");
	background-size: 95%;
	background-repeat: no-repeat;
}

search {
	display: block;
	margin-top: 100px;
	height: 100px;
}

.basic-description {

	text-align: center;
	margin-bottom: 50px;

	a {
		color: #323232;
	}
	p {
		padding: 10px;
		font-size: 22px;
		color: #657786;
		background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
	}
}

