<div class="content">
        <div class="section full-screen start">
        <div class="bg"></div>
        <div class="bg-outer">
            <div class="bg-inner"></div>
        </div>
        <h3 class="logo-text">TRACEMAP</h3>
        <menu></menu>
        <div class="basic-desc">
            <p>Trace a Tweet</p>
            <p>
                Enter its Url from <a href="https://twitter.com" target="_blank">Twitter</a>.
            </p>
        </div>
        <div class="searchbar" [ngClass]="classes">
            <input id="search" [ngClass]="classes" type="text" 
              #searchField
              (keydown.enter)="processUrl( searchField)"
              [placeholder]="placeholder"
              (focus)="removePlaceholder()"
              (focusout)="setPlaceholder()"
              [disabled]="disabled">
            <div class="search-button" (click)="processUrl( searchField)">
                <img srcset="
                ../../assets/images/loupe_256.png 4x,
                ../../assets/images/loupe_128.png 2x,
                ../../assets/images/loupe_64.png 1x
                "
                src="../../assets/images/loupe_64.png">
            </div>
        </div>        
        <div class="anchors">
            <p><a href="#what">↳ What Is This?</a></p>
            <p><a href="#how">↳ How It Works</a></p>
            <p><a href="#newsletter">↳ Stay Up To Date</a></p>
        </div>
    </div>
    <p class="error" *ngIf="errorMsg">
        <span *ngFor="let line of errorMsg">{{line}}</span>
        <img src="/assets/images/sad_cloud800.png" alt="">
    </p>
    <div class="section text-box" id="what">
        <h2>What is this?</h2>
        <p>TraceMap gives you the possibillity to follow the flow of a Tweet through Twitter. It will show you who retweeted the post from which user and gives you an insight of how the users are connected with each other.<br><br>
        By now TraceMap is restricted by Twitter to the last 100 retweets of a tweet. Though Tweets with more than 100 retweets will be displayed incomplete. Some of the distributors might not be shown and some connections will be missing.
        </p>
        <button 
        type="button" 
        class="light-button button"
        (click)="navigate('/information')">More Details</button>
    </div>
    <div class="section content-box gray-bg" id="how">
        <h2>How it works</h2>
        <div class="box-content">
            <div class="img-box first">
                <img srcset="
                ../../assets/images/howto-1_1320.png 4x,
                ../../assets/images/howto-1_660.png 2x,
                ../../assets/images/howto-1_330.png 1x
                "
                src="../../assets/images/howto-1_330.png">
                <p>1. Find a Tweet on Twitter, you like to trace. Click on the Dropdown-Button of the Tweet.</p>
            </div>
            <div class="img-box">
                <img srcset="
                ../../assets/images/howto-2_1320.png 4x,
                ../../assets/images/howto-2_660.png 2x,
                ../../assets/images/howto-2_330.png 1x
                "
                src="../../assets/images/howto-2_330.png">
                <p>2. Press „Copy Url“ and paste it in the Search-Field of TraceMap.</p>
            </div>
        </div>
    </div>
    <div class="section content-box white-bg" id="newsletter">
        <h2>Stay up to date</h2>
        <div class="box-content newsletter-box">
            <p>TraceMap is still in closed beta, but we are constantly pushing things forward. Be one of the first to know about new features and releases of TraceMap.</p>
            <div class="newsletter-area">
                <div *ngIf="!subscriptionResponse" class="newsletter-form">
                    <input type="text" 
                    #emailAdress
                    (keydown.enter)="addToNewsletter( emailAdress.value)"
                    placeholder="Your E-Mail">
                    <button class="purple-button button" 
                    (click)="addToNewsletter( emailAdress.value)">
                        Subscribe
                    </button>
                </div>
                <p *ngIf="wrongEmail">
                    You entered an invalid E-Mail.
                </p>
                <p *ngIf="subscriptionResponse == 'success'"
                class="subscription-answer">
                    Thanks for your interest.<br>Your subscription was successful.
                </p>
                <p *ngIf="subscriptionResponse == 'exists'"
                class="subscription-answer">
                    Thanks for insisting.<br>You have already subscribed.
                </p>
            </div>
            <div class="follow-us">
                <p>Follow us:</p>
                <div class="social-links-light">
                    <a href="https://twitter.com/trace_map" target="_blank">
                        <img srcset="
                        ../../assets/images/twitter_128.png 4x,
                        ../../assets/images/twitter_64.png 2x,
                        ../../assets/images/twitter_32.png 1x
                        "
                        src="../../assets/images/twitter_64.png">
                    </a>
                    <a href="https://www.linkedin.com/company/trace-map" target="_blank">
                        <img srcset="
                        ../../assets/images/linkedin_128.png 4x,
                        ../../assets/images/linkedin_64.png 2x,
                        ../../assets/images/linkedin_32.png 1x
                        "
                        src="../../assets/images/linkedin_64.png">
                    </a>
                    <a href="https://github.com/tracemap/" target="_blank">
                        <img srcset="
                        ../../assets/images/github_128.png 4x,
                        ../../assets/images/github_64.png 2x,
                        ../../assets/images/github_32.png 1x
                        "
                        src="../../assets/images/github_64.png">
                    </a>
                </div>
            </div>
        </div>
</div>
<footer></footer>
