<div class="content">
    <div class="section-wrapper full-screen start">
        <div class="bg"></div>
        <div class="bg-outer">
            <div class="bg-inner"></div>
        </div>
        <a href="/home"><h3 class="logo-text top">TRACEMAP</h3></a>
        <menu [color]="'white'"></menu>
        <div class="slogan">
            <p>Fact-checking made easy.</p>
        </div>
        <div class="searchbar" 
        [ngClass]="classes"
        *ngIf="loggedIn">
            <input id="search" [ngClass]="classes" type="text" 
              #searchField
              (keydown.enter)="processUrl( searchField)"
              [placeholder]="placeholder"
              (focus)="removePlaceholder()"
              (focusout)="setPlaceholder()"
              [disabled]="disabled">
            <div class="search-button" (click)="processUrl( searchField)">
                <img srcset="
                ../../assets/images/loupe_256.png 4x,
                ../../assets/images/loupe_128.png 2x,
                ../../assets/images/loupe_64.png 1x
                "
                src="../../assets/images/loupe_64.png">
            </div>
        </div>
        <p class="search-hint"
        *ngIf="loggedIn">
            Enter a tweets Url from <a href="https://twitter.com" target="_blank">Twitter</a>.
        </p>
        <p class="search-hint"
        *ngIf="!loggedIn">
            The public beta will be online soon.<br>
            Subscribe to the <a (click)="scrollToID('newsletter')">newsletter</a> and stay up to date.
        </p>
        <p class="no-search-hint">
            To use the tool, please switch to a bigger screen.
        </p>
        <div class="anchors">
            <p (click)="scrollToID('how')">↳ How It Works</p>
            <p (click)="scrollToID('visualization')">↳ Visualization</p>
            <p (click)="scrollToID('analysis')">↳ Analysis</p>
            <p (click)="scrollToID('collective')">↳ Collective Fact Checking</p>
            <p (click)="scrollToID('newsletter')">↳ Stay Up To Date</p>
        </div>
    </div>
    <p class="error" *ngIf="errorMsg">
        <span *ngFor="let line of errorMsg">{{line}}</span>
        <img src="/assets/images/sad_cloud800.png" alt="">
    </p>
    <div class="section-wrapper white-bg" id="how">
        <div class="section content-box white-bg">
            <h2>How it works</h2>
            <div class="box-content">
                <p>TraceMap is an open source web tool that allows you to visualize the spread of a Tweet, analyze its trustworthiness and to engage with others in fighting misinformation.</p>
                <div class="img-box first">
                    <img srcset="
                    ../../assets/images/howto-1_1320.png 4x,
                    ../../assets/images/howto-1_660.png 2x,
                    ../../assets/images/howto-1_330.png 1x
                    "
                    src="../../assets/images/howto-1_330.png">
                    <p>1. Find a tweet on Twitter you would like to explore. Click on the dropdown menu on the top right of the tweet.</p>
                </div>
                <div class="img-box">
                    <img srcset="
                    ../../assets/images/howto-2_1320.png 4x,
                    ../../assets/images/howto-2_660.png 2x,
                    ../../assets/images/howto-2_330.png 1x
                    "
                    src="../../assets/images/howto-2_330.png">
                    <p>2. Choose "Copy link to tweet" and paste the URL into the search field of TraceMap.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-wrapper gray-bg" id="visualization">
        <div class="section text-box">
            <h2>Visualization</h2>
            <img class="text-bg visualization" srcset="
            ../../assets/images/start/start_visualization_1200.png 4x,
            ../../assets/images/start/start_visualization_600.png 2x,
            ../../assets/images/start/start_visualization_300.png 1x
            "
            src="../../assets/images/start/start_visualization_300.png">
            <p>The interactive interface allows you to visualize how tweets flow. It is designed to directly reveal a tweet’s outreach and to see which users contributed to spreading them.<br><br>
            TraceMap exposes implicit and hidden diffusion mechanisms. Interactive graphs - tracemaps - will allow you to track the spreading of tweets. For example, you will be able to spot the users who are more influential and more densely connected.</p>
        </div>
    </div>
    <div class="section-wrapper white-bg" id="analysis">
        <div class="section text-box">
            <h2>Analysis</h2>
            <img class="text-bg analysis" srcset="
            ../../assets/images/start/start_analysis_1200.png 4x,
            ../../assets/images/start/start_analysis_600.png 2x,
            ../../assets/images/start/start_analysis_300.png 1x
            "
            src="../../assets/images/start/start_analyis_300.png">
            <p>Investigate what you read with the help of a series of functionalities. Interactive features such as finding users' most viral tweets will equip you to become an investigative fact-checker.<br><br>
            After generating a tweet’s tracemap, you can obtain informative statistics and analyze the most influential profiles who contribute to the diffusion of a tweet. With more information at hand, you will be able to form a more solid opinion about the trustworthiness of news you are reading.</p>
        </div>
    </div>
    <div class="section-wrapper gray-bg" id="collective">
        <div class="section text-box">
            <h2>Collective Fact Checking</h2>
            <img class="text-bg collective" srcset="
            ../../assets/images/start/start_collective_1200.png 4x,
            ../../assets/images/start/start_collective_600.png 2x,
            ../../assets/images/start/start_collective_300.png 1x
            "
            src="../../assets/images/start/start_collective_300.png">
            <p>Soon you will be able to help others interpret tweets by adding useful tags and links to external resources. At the same time you will be able to review the annotations of others to interpret what you read.<br><br>
                In order to create a platform on which people can trust each other, we intend to provide a cross-checking mechanism, that is, a system of fact-checking badges for users that correctly classify content (e.g. satire, sarcasm, fake, wrong context, etc). This way, we want to make sure that the tags shown are all valid and that our platform is protected against bots and trolls.</p>
        </div>
    </div>
    <div class="section-wrapper white-bg" id="newsletter">
        <div class="section content-box">
            <h2>Stay up to date</h2>
            <div class="box-content newsletter-box">
                <p>TraceMap is still in closed beta, but we are constantly pushing things forward. Be one of the first to know about new features and releases of TraceMap.</p>
                <div class="newsletter-area">
                    <div *ngIf="!subscriptionResponse" class="newsletter-form">
                        <input type="text" 
                        #emailAdress
                        (keydown.enter)="addToNewsletter( emailAdress.value)"
                        placeholder="Your E-Mail">
                        <button class="purple-button button" 
                        (click)="addToNewsletter( emailAdress.value)">
                            Subscribe
                        </button>
                        <p>By subscribing to our newsletter, you accept our <a href="./privacy">Terms</a>.</p>
                    </div>
                    <p *ngIf="emailResponse" [innerHTML]="emailResponse">
                    </p>
                </div>
                <div class="follow-us">
                    <p>Follow us:</p>
                    <div class="social-links-light">
                        <a href="https://twitter.com/trace_map" target="_blank">
                            <img srcset="
                            ../../assets/images/twitter_128.png 4x,
                            ../../assets/images/twitter_64.png 2x,
                            ../../assets/images/twitter_32.png 1x
                            "
                            src="../../assets/images/twitter_64.png">
                        </a>
                        <a href="https://www.linkedin.com/company/trace-map" target="_blank">
                            <img srcset="
                            ../../assets/images/linkedin_128.png 4x,
                            ../../assets/images/linkedin_64.png 2x,
                            ../../assets/images/linkedin_32.png 1x
                            "
                            src="../../assets/images/linkedin_64.png">
                        </a>
                        <a href="https://github.com/tracemap/" target="_blank">
                            <img srcset="
                            ../../assets/images/github_128.png 4x,
                            ../../assets/images/github_64.png 2x,
                            ../../assets/images/github_32.png 1x
                            "
                            src="../../assets/images/github_64.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<my-footer></my-footer>
