<div class="content">
    <h3 class="logo-text top">TRACEMAP</h3>
    <menu [color]="'purple'"></menu>
    <div class="section-wrapper white-bg">
        <div class="section text-box white-bg">
            <h2>What's New?</h2>
            <p>TraceMap is still in closed beta, but we are constantly pushing things forward. Subscribe to our newsletter on the <a href="/home">start page</a> and get to know about new features and releases of TraceMap.</p>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div class="section content-box">
            <h2>External Links</h2>
            <div class="box-content">
                <p>Here are a few interesting reads for you to understand the digital news universe and the problem of misinformation and hate speech.</p>
                <div class="studie-box first">
                    <a 
                    href="http://science.sciencemag.org/content/359/6380/1146"
                    target="_blank">
                        <h3>The spread of true and false news online</h3>
                    </a>
                    <p class="authors">Soroush Vosoughi, Deb Roy, Sinan Aral</p>
                    <p class="date">Science, 09 Mar 2018</p>
                </div>
                <div class="studie-box">
                    <a 
                    href="https://www.researchgate.net/publication/318981549_Fake_News_Detection_on_Social_Media_A_Data_Mining_Perspective"
                    target="_blank">
                        <h3>Fake News Detection on Social Media:<br>A Data Mining Perspective</h3>
                    </a>
                    <p class="authors">Kai Shu, Amy Sliva, Suhang Wang, Jiliang Tang, Huan Liu</p>
                    <p class="date">ACM SIGKDD Explorations Newsletter, 19 Aug 2017</p>
                </div>
                <div class="studie-box">
                    <a 
                    href="http://www.public.asu.edu/~liangwu1/WSDM18_TraceMiner.pdf"
                    target="_blank">
                        <h3>Tracing fake news footprints:<br>characterizing social media messages by how they propagate</h3>
                    </a>
                    <p class="authors">Liang Wu, Huan Liu</p>
                    <p class="date">Proceeding WSDM '18, 09 Feb 2018</p>
                </div>
            </div>
        </div>
    </div>
</div>
<my-footer></my-footer>
