<div class="content">
    <a href="/home"><h3 class="logo-text top">TraceMap</h3></a>
    <menu [color]="'purple'"></menu>
    <div class="section-wrapper white-bg">
        <div class="section content-box">
            <h2>TraceMap Terms</h2>
            <div class="box-content">
                <p class="change-date">last updated: 18-11-11</p>
                <p>If you choose to use our service, then you agree to the collection and use of information in relation with these terms. The personal information that we collect are used for providing and improving the service. We will not use or share your information with anyone other than described in these Terms.</p>
                <h3>User Data</h3>
                <p><b>Newsletter subscription:</b> If you subscribe to our newsletter, we will store your e-mail address on our servers to be able to contact you later.<br>
                <b>Closed Beta Registration:</b> If you register to participate in our closed beta, we will save your e-mail adress, username and a hash of your password on our servers. The username is just used to address you in e-mails we send.</p>
                <h3>Cookies</h3>
                <p>We just use cookies to improve the tools user experience, if you don't use the tool and just navigate on our website, you are not affected.<br>
                We are not analysing your cookies in any way.<br>
                <b>Cookie Settings:</b> We store a cookie to save your chosen cookie settings if you use the tool for the first time. If you unselect this cookie, you will be prompted to accept or decline cookies on every use of the tool.<br>
                <b>Graph Settings:</b> This cookie is saving your chosen graph settings over multiple sessions.<br>
                <b>Last Tracemaps:</b> We save the tweet-ids of the last tracemaps you generated. We are not using this data to for analysis purposes, we just display it to you in the "Last Tracemaps" accordeon.<br>
                <b>Timeline Settings:</b> We also store your user-timeline settings over multiple sessions.</p>
                <h3>If you login, there are two cookies from which you can't opt-out:</h3>
                <p><b>Session-Token:</b> For you to be able to stay logged in when refreshing out website or tool, we need to save a session-token in your browsers storage. This token is just valid for 2 hours and deleted if you logout.<br>
                <b>email-adress:</b> Your login email-adress is saved as well to validate your session token. This cookie is also deleted every time you logout in your user settings.</p>
                <h3>General</h3>
                <p>TraceMap may update the Terms from time to time.  When we update our Terms, we will update the “Last Modified” date associated with the updated Terms. Your continued use of our services confirms your acceptance of our updated Terms and supersedes any prior Terms. You will comply with all applicable export control and trade sanctions laws. Our Terms cover the entire agreement between you and TraceMap regarding our services. If you do not agree with our Terms, you should stop using our services.<br>
                If we fail to enforce any of our Terms, that does not mean we waive the right to enforce them. If any provision of the Terms is deemed unlawful, void, or unenforceable, that provision shall be deemed severable from our Terms and shall not affect the enforceability of the remaining provisions. Our services are not intended for distribution to or use in any country where such distribution or use would violate local law or would subject us to any regulations in another country.</p>
            </div>
        </div>
    </div>
    <div class="section-wrapper gray-bg">
        <div class="section content-box">
            <h2>Privacy Policy</h2>
            <div class="box-content">
                <p class="change-date">last updated: 18-11-11</p>
                <p>For our tweet analysis to work, we need to store the user network of twitter in our databases. We received this data by crawling twitters API. We will not distribute or sell this data to abide by the rules of <a href="https://developer.twitter.com/en/developer-terms/agreement-and-policy.html">twitter</a>.<br>
                We will neither sell or distribute our users data.<br>
                If you choose to use our service, then you agree to the collection and use of information in relation with this policy. The personal information that we collect are used for providing and improving the service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>
                <p><b>User Data:</b> If you do not subscribe to our newsletter and just visit our website, we will not store or analyse your data. In case you subscribe our newsletter or participate in our closed beta, we store your personal data as described in our Terms. Storing and processing of your personal data is conssistent with the EU-GDPR and the country specific data privacy laws.<br>
                <b>Analytics:</b> Whenever you visit our service, we collect information your browser sends to us that is called log data. This log data may include information such as your computer's ip address, browser version, pages of our service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.<br>
                <b>Cookies:</b> Our tool uses cookies to collection information and to improve our service. You have the option to either accept or refuse these cookies in the tools settings, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some functions of our service.<br>
                <b>Security:</b> We value your trust in providing us your personal information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.<br>
                <b>Links to Other Sites:</b> Our service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.<br>
                <b>Changes to this Privacy Policy:</b> We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.<br>
                <b>Contact Us:</b> If you have any questions or suggestions about our Privacy Policy, do not hesitate to <a href="mailto:contact@tracemap.info">contact us</a>.</p>
            </div>
        </div>
    </div>
</div>
<my-footer></my-footer>