<div class="content">
    <menu [color]="'purple'"></menu>
    <h3 class="logo-text top">TRACEMAP</h3>
    <div class="section content-box white-bg">
        <h2>Imprint</h2>
        <div class="box-content">
            <div class="adress">
                <h3>Tracemap gemeinnüzuige UG - in Gründung</h3>
                <p>Weserstraße 206</p>
                <p>12047 Berlin</p>
            </div>
            <div class="mail">
                <a href="mailto:contact@tracemap.info">contact@tracemap.info</a>
            </div>
        </div>
    </div>
    <div class="section content-box gray-bg">
        <h2>Credits</h2>
        <div class="box-content credits">
            <h3>Icons made by:</h3> 
            <a href="https://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>
            <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
            <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a>
            <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a>
            <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>
            <a href="https://www.flaticon.com/authors/nhor-phai" title="Nhor Phai">Nhor Phai</a>
            <a href="http://www.freepik.com" title="Freepik">Freepik</a>
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
            <a href="https://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a>
            <a href="https://www.flaticon.com/authors/google" title="Google">Google</a>
            <a href="https://www.flaticon.com/authors/hadrien" title="Hadrien">Hadrien</a>
            <p>
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </p>
        </div>
    </div>
</div>
<my-footer></my-footer>
